In [2]:
import pandas as pd
import pandas
from pandas import *

In [3]:
df1 = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df1

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3

In [4]:
df2 = pd.DataFrame([('Biels', 'Quiosquet', 389.0),
                   ('Barkus', 'Bar', 24.0),
                   ('Blue Wall', 'bar', 80.5),
                   ('Bounty Hunters', 'Social Club', 125.30)],
           columns=('name2', 'type', 'AvgBill')
                 )
df2

            name2         type  AvgBill
0           Biels    Quiosquet    389.0
1          Barkus          Bar     24.0
2       Blue Wall          bar     80.5
3  Bounty Hunters  Social Club    125.3

In [5]:
dfAll = pd.concat([df1,df2])
dfAll

             name         type  AvgBill           name2
0  Foreign Cinema   Restaurant    289.0             NaN
1       Liho Liho   Restaurant    224.0             NaN
2        500 Club          bar     80.5             NaN
3      The Square          bar     25.3             NaN
0             NaN    Quiosquet    389.0           Biels
1             NaN          Bar     24.0          Barkus
2             NaN          bar     80.5       Blue Wall
3             NaN  Social Club    125.3  Bounty Hunters

In [6]:
dfAll = dfAll.reset_index()
dfAll

   index            name         type  AvgBill           name2
0      0  Foreign Cinema   Restaurant    289.0             NaN
1      1       Liho Liho   Restaurant    224.0             NaN
2      2        500 Club          bar     80.5             NaN
3      3      The Square          bar     25.3             NaN
4      0             NaN    Quiosquet    389.0           Biels
5      1             NaN          Bar     24.0          Barkus
6      2             NaN          bar     80.5       Blue Wall
7      3             NaN  Social Club    125.3  Bounty Hunters

In [7]:
dfAll.drop(columns=["index"])

             name         type  AvgBill           name2
0  Foreign Cinema   Restaurant    289.0             NaN
1       Liho Liho   Restaurant    224.0             NaN
2        500 Club          bar     80.5             NaN
3      The Square          bar     25.3             NaN
4             NaN    Quiosquet    389.0           Biels
5             NaN          Bar     24.0          Barkus
6             NaN          bar     80.5       Blue Wall
7             NaN  Social Club    125.3  Bounty Hunters

In [8]:
dfAll = pd.concat([df1,df2],ignore_index=True)
dfAll

             name         type  AvgBill           name2
0  Foreign Cinema   Restaurant    289.0             NaN
1       Liho Liho   Restaurant    224.0             NaN
2        500 Club          bar     80.5             NaN
3      The Square          bar     25.3             NaN
4             NaN    Quiosquet    389.0           Biels
5             NaN          Bar     24.0          Barkus
6             NaN          bar     80.5       Blue Wall
7             NaN  Social Club    125.3  Bounty Hunters

In [9]:
df1 = pd.DataFrame([('Jhon', 1, "Italy"),
                   ('Pep', 2, "Germany"),
                   ('William', 3, "Finland"),
                   ('Snake', 4, "Italy")],
           columns=('name', 'ID', 'Country')
                 )
df1

      name  ID  Country
0     Jhon   1    Italy
1      Pep   2  Germany
2  William   3  Finland
3    Snake   4    Italy

In [10]:
df2 = pd.DataFrame([(1, 145.0, 3000.1),
                   ( 2, 189.2, 2030.2),
                   ( 3, 129.0, 3000.0),
                   ( 4, 198.1, 4020.2)],
           columns=('DNI', 'Weight', 'Salary')
                 )
df2

   DNI  Weight  Salary
0    1   145.0  3000.1
1    2   189.2  2030.2
2    3   129.0  3000.0
3    4   198.1  4020.2

In [11]:
df1.merge(df2, left_on='ID', right_on='DNI')

      name  ID  Country  DNI  Weight  Salary
0     Jhon   1    Italy    1   145.0  3000.1
1      Pep   2  Germany    2   189.2  2030.2
2  William   3  Finland    3   129.0  3000.0
3    Snake   4    Italy    4   198.1  4020.2

In [12]:
df2 = pd.DataFrame([(1, 145.0, 3000.1), #No 2
                   ( 3, 129.0, 3000.0), # Multiples 3
                   ( 3, 159.0, 4000.0),
                   ( 3, 109.0, 5000.0),
                   ( 4, 198.1, 4020.2),
                   ( 5, 200.0, 5000.2)], #a new one
           columns=('DNI', 'Weight', 'Salary')
                 )
df2

   DNI  Weight  Salary
0    1   145.0  3000.1
1    3   129.0  3000.0
2    3   159.0  4000.0
3    3   109.0  5000.0
4    4   198.1  4020.2
5    5   200.0  5000.2

In [13]:
df1.merge(df2, left_on='ID', right_on='DNI')

      name  ID  Country  DNI  Weight  Salary
0     Jhon   1    Italy    1   145.0  3000.1
1  William   3  Finland    3   129.0  3000.0
2  William   3  Finland    3   159.0  4000.0
3  William   3  Finland    3   109.0  5000.0
4    Snake   4    Italy    4   198.1  4020.2

In [14]:
df1.merge(df2, left_on='ID', right_on='DNI',how="left")

      name  ID  Country  DNI  Weight  Salary
0     Jhon   1    Italy  1.0   145.0  3000.1
1      Pep   2  Germany  NaN     NaN     NaN
2  William   3  Finland  3.0   129.0  3000.0
3  William   3  Finland  3.0   159.0  4000.0
4  William   3  Finland  3.0   109.0  5000.0
5    Snake   4    Italy  4.0   198.1  4020.2

In [15]:
df1.merge(df2, left_on='ID', right_on='DNI',how="right")

      name   ID  Country  DNI  Weight  Salary
0     Jhon  1.0    Italy    1   145.0  3000.1
1  William  3.0  Finland    3   129.0  3000.0
2  William  3.0  Finland    3   159.0  4000.0
3  William  3.0  Finland    3   109.0  5000.0
4    Snake  4.0    Italy    4   198.1  4020.2
5      NaN  NaN      NaN    5   200.0  5000.2

In [16]:
df1.merge(df2, left_on='ID', right_on='DNI',how="inner")

      name  ID  Country  DNI  Weight  Salary
0     Jhon   1    Italy    1   145.0  3000.1
1  William   3  Finland    3   129.0  3000.0
2  William   3  Finland    3   159.0  4000.0
3  William   3  Finland    3   109.0  5000.0
4    Snake   4    Italy    4   198.1  4020.2

In [17]:
df1.merge(df2,how="cross")

       name  ID  Country  DNI  Weight  Salary
0      Jhon   1    Italy    1   145.0  3000.1
1      Jhon   1    Italy    3   129.0  3000.0
2      Jhon   1    Italy    3   159.0  4000.0
3      Jhon   1    Italy    3   109.0  5000.0
4      Jhon   1    Italy    4   198.1  4020.2
5      Jhon   1    Italy    5   200.0  5000.2
6       Pep   2  Germany    1   145.0  3000.1
7       Pep   2  Germany    3   129.0  3000.0
8       Pep   2  Germany    3   159.0  4000.0
9       Pep   2  Germany    3   109.0  5000.0
10      Pep   2  Germany    4   198.1  4020.2
11      Pep   2  Germany    5   200.0  5000.2
12  William   3  Finland    1   145.0  3000.1
13  William   3  Finland    3   129.0  3000.0
14  William   3  Finland    3   159.0  4000.0
15  William   3  Finland    3   109.0  5000.0
16  William   3  Finland    4   198.1  4020.2
17  William   3  Finland    5   200.0  5000.2
18    Snake   4    Italy    1   145.0  3000.1
19    Snake   4    Italy    3   129.0  3000.0
20    Snake   4    Italy    3   159.0  4000.0
21    Snake   4    Italy    3   109.0  5000.0
22    Snake   4    Italy    4   198.1  4020.2
23    Snake   4    Italy    5   200.0  5000.2

Ejercicio 5

In [18]:
df_who = pd.read_csv("WHO.csv")
df_who.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [19]:
df_who["Total_CO2_emissions"].max()

np.float64(5776431.5)

In [21]:
df_who.sort_values(by="Total_CO2_emissions", ascending=False).head(5)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0,1.0,...,5776431.5,1.100000e+13,NaN,-7.140000e+11,8.00,7.1,8.00,240000000.0,1.39,80.8
36,China,37,7,3.0,90.9,4660.0,96.0,100.0,1328474.0,0.6,...,5547757.5,1.890000e+12,295.23,1.250000e+11,27.30,27.8,27.30,527000000.0,2.95,40.4
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0,-0.5,...,1503302.5,3.500000e+11,79.57,1.040000e+11,18.30,20.5,18.30,104000000.0,-0.60,73.0
79,India,80,7,97.0,61.0,2460.0,87.0,90.0,1151751.0,1.5,...,1402359.4,6.440000e+11,111.94,-2.470000e+10,80.21,77.2,80.21,314000000.0,2.07,28.7
87,Japan,88,6,6.0,NaN,32840.0,100.0,100.0,127953.0,0.0,...,1230026.8,4.990000e+12,NaN,6.990000e+10,3.80,3.5,3.80,84100000.0,0.19,65.8

Ejercicio 6

In [22]:
sample_spain = df_who[df_who["Country"]=="Spain"]
sample_spain

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.9,4.2,4.9,33300000.0,1.75,76.7

In [23]:
sample_eeuu = df_who[df_who["Country"]=="United States of America"]
sample_eeuu

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0,1.0,...,5776431.5,1.100000e+13,NaN,-7.140000e+11,8.0,7.1,8.0,240000000.0,1.39,80.8

In [25]:
sample_venezuela = df_who[df_who["Country"]=="Venezuela"]
sample_venezuela

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0,1.7,...,148117.2,1.330000e+11,65.19,2.790000e+10,21.1,18.1,21.1,24800000.0,2.2,93.4

In [26]:
sample_1 = df_who[df_who["Continent"]==1]
sample_1

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.00,5.44,22.9
12,Bahrain,13,1,14.0,86.5,34310.0,98.0,98.0,739.0,1.9,...,19668.35,1.060000e+10,NaN,3.210000e+09,10.96,7.0,10.96,699420.44,2.43,96.5
32,Cape Verde,33,1,104.0,81.2,2590.0,87.0,88.0,519.0,2.3,...,285.79,6.810000e+08,32.02,-2.800000e+08,36.40,34.3,36.40,290400.40,3.69,57.3
49,Djibouti,50,1,27.0,NaN,2180.0,34.0,42.0,819.0,1.8,...,373.73,6.330000e+08,21.66,-7.320000e+07,135.80,NaN,135.80,692421.40,2.39,86.1
53,Egypt,54,1,48.0,71.4,4940.0,94.0,98.0,74166.0,1.8,...,173483.08,1.200000e+11,72.62,-3.610000e+09,41.90,35.7,41.90,31200000.00,1.94,42.8
81,Iran (Islamic Republic of),82,1,35.0,82.4,9800.0,100.0,91.0,70270.0,1.2,...,451573.34,1.330000e+11,NaN,1.220000e+10,37.60,38.7,37.60,46200000.00,2.30,66.9
82,Iraq,83,1,17.0,74.1,NaN,82.0,95.0,28506.0,1.8,...,84532.14,1.910000e+10,NaN,NaN,45.70,43.6,45.70,18700000.00,1.68,66.9
84,Israel,85,1,15.0,NaN,23840.0,97.0,96.0,6810.0,1.7,...,63607.04,1.270000e+11,NaN,2.530000e+07,5.90,5.5,5.90,6342017.50,1.79,91.6
88,Jordan,89,1,30.0,91.1,4820.0,90.0,89.0,5729.0,3.3,...,20503.74,1.140000e+10,70.96,-5.220000e+09,26.80,18.6,26.80,4453664.50,2.73,82.3
94,Kuwait,95,1,15.0,93.3,48310.0,83.0,84.0,2779.0,2.9,...,93585.89,5.220000e+10,NaN,2.890000e+10,11.80,9.8,11.80,2492343.50,3.06,98.3
101,Libyan Arab Jamahiriya,102,1,7.0,85.0,11630.0,91.0,95.0,6039.0,2.0,...,56099.50,4.040000e+10,NaN,1.590000e+10,19.60,11.7,19.60,5018648.00,2.43,84.8
111,Malta,112,1,17.0,87.9,20990.0,91.0,92.0,405.0,0.5,...,2550.14,3.880000e+09,NaN,-6.570000e+08,6.10,6.0,6.10,384535.50,0.95,95.3
121,Morocco,122,1,35.0,52.3,3860.0,85.0,91.0,30853.0,1.2,...,48005.73,4.090000e+10,99.36,-3.950000e+09,42.80,41.9,42.80,17700000.00,2.25,58.7
136,Oman,137,1,11.0,81.4,19740.0,75.0,73.0,2546.0,1.6,...,31444.45,2.270000e+10,108.22,8.350000e+09,12.90,5.0,12.90,1792535.00,1.11,71.5
147,Qatar,148,1,19.0,89.0,NaN,94.0,93.0,821.0,3.1,...,49815.74,NaN,NaN,NaN,16.44,17.7,16.44,759561.44,4.19,95.4
157,Saudi Arabia,158,1,15.0,82.9,22300.0,87.0,87.0,24175.0,2.4,...,381110.97,2.290000e+11,NaN,1.010000e+11,26.60,9.4,26.60,18700000.00,2.88,81.0
175,Syria,176,1,58.0,80.8,4110.0,92.0,97.0,19408.0,2.7,...,68428.87,2.360000e+10,NaN,-9.490000e+08,19.00,23.6,19.00,9560304.00,2.91,50.6
184,Tunisia,185,1,8.0,74.3,6490.0,97.0,96.0,10215.0,1.1,...,21976.67,2.420000e+10,25.75,-1.460000e+08,25.40,23.0,25.40,6548937.00,1.55,65.3
190,United Arab Emirates,191,1,37.0,88.5,31190.0,88.0,88.0,4248.0,3.5,...,123733.28,1.040000e+11,NaN,NaN,8.80,5.6,8.80,3147991.20,3.72,76.7
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.00,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.50,4.37,27.3

In [29]:
sample_2 = df_who[df_who["Continent"]==2]
sample_2

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1.431794e+06,2.21,45.4
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0,-0.3,...,4345.50,3.400000e+09,35.98,-6.470000e+08,28.80,27.7,28.80,1.934321e+06,-0.62,64.1
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0,0.4,...,73602.43,2.090000e+11,NaN,8.240000e+09,5.10,4.3,5.10,5.433978e+06,0.77,66.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.00,63.7,50.00,4.321803e+06,1.26,51.5
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0,-0.5,...,63299.27,1.830000e+10,28.31,2.090000e+08,15.10,10.3,15.10,7.057977e+06,0.11,72.2
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0,0.3,...,102599.33,2.490000e+11,NaN,1.070000e+10,5.00,4.8,5.00,1.020000e+07,0.57,97.2
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0,0.3,...,26274.55,6.440000e+09,47.80,-4.460000e+09,15.40,8.4,15.40,1.789264e+06,1.35,45.7
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0,-0.7,...,44422.34,1.640000e+10,55.40,-4.450000e+09,14.30,15.2,14.30,5.418000e+06,-0.21,70.0
44,Croatia,45,2,14.0,98.1,13850.0,90.0,91.0,4556.0,0.1,...,22878.02,2.320000e+10,28.90,-2.830000e+09,7.10,6.9,7.10,2.510493e+06,0.33,56.5
46,Cyprus,47,2,5.0,96.8,25060.0,99.0,99.0,846.0,1.1,...,7016.56,1.030000e+10,NaN,-4.530000e+08,5.20,5.0,5.20,5.251554e+05,2.61,69.3
47,Czech Republic,48,2,11.0,NaN,20920.0,94.0,91.0,10189.0,0.0,...,119691.89,6.780000e+10,NaN,4.050000e+09,4.50,4.0,4.50,7.522058e+06,0.13,73.5
48,Denmark,49,2,6.0,NaN,36190.0,96.0,95.0,5430.0,0.2,...,46078.47,1.710000e+11,NaN,1.380000e+10,5.20,4.8,5.20,4.636077e+06,0.39,85.6
57,Estonia,58,2,21.0,99.8,18090.0,94.0,95.0,1340.0,-0.3,...,18202.75,8.360000e+09,NaN,-8.450000e+08,7.80,8.2,7.80,9.301551e+05,-0.30,69.1
60,Finland,61,2,11.0,NaN,33170.0,97.0,97.0,5261.0,0.3,...,53160.98,1.350000e+11,NaN,1.140000e+10,3.80,3.4,3.80,3.205367e+06,0.34,61.1
61,France,62,2,8.0,NaN,32240.0,99.0,98.0,61330.0,0.6,...,377692.44,1.430000e+12,NaN,-1.530000e+10,4.80,4.4,4.80,4.670000e+07,0.81,76.7
65,Georgia,66,2,47.0,NaN,3880.0,91.0,88.0,4433.0,-0.9,...,4785.18,4.340000e+09,25.22,-1.130000e+09,32.10,37.7,32.10,2.335120e+06,-1.16,52.2
66,Germany,67,2,11.0,NaN,32680.0,98.0,98.0,82641.0,0.0,...,783982.44,1.970000e+12,NaN,1.390000e+11,4.90,4.3,4.90,6.200000e+07,-0.03,75.2
68,Greece,69,2,11.0,96.0,30870.0,99.0,100.0,11123.0,0.2,...,95359.27,1.420000e+11,NaN,-1.510000e+10,4.90,4.9,4.90,6.551360e+06,0.45,59.0
77,Hungary,78,2,21.0,NaN,16970.0,88.0,89.0,10058.0,-0.3,...,56370.64,5.930000e+10,28.14,-8.870000e+08,8.00,7.9,8.00,6.687714e+06,0.32,66.3
78,Iceland,79,2,16.0,NaN,33740.0,97.0,98.0,298.0,0.9,...,2183.74,1.040000e+10,NaN,-2.000000e+09,2.90,3.1,2.90,2.753840e+05,1.69,92.8
83,Ireland,84,2,19.0,NaN,34730.0,95.0,94.0,4221.0,1.9,...,42348.51,1.250000e+11,NaN,2.360000e+10,5.70,5.3,5.70,2.516256e+06,2.67,60.5
85,Italy,86,2,7.0,98.4,28970.0,98.0,99.0,58779.0,0.2,...,452108.28,1.130000e+12,NaN,-2.770000e+08,4.40,4.2,4.40,3.960000e+07,0.86,67.6
89,Kazakhstan,90,2,26.0,99.5,8700.0,90.0,90.0,15314.0,0.7,...,180924.66,3.000000e+10,16.30,5.050000e+09,36.60,34.5,36.60,8.679260e+06,1.24,57.3
95,Kyrgyzstan,96,2,27.0,98.7,1790.0,85.0,86.0,5259.0,1.1,...,5565.62,1.650000e+09,30.21,-4.550000e+08,44.10,48.3,44.10,1.841373e+06,1.21,35.8
97,Latvia,98,2,16.0,99.7,14840.0,92.0,89.0,2289.0,-0.6,...,6452.30,1.160000e+10,16.27,-2.410000e+09,11.00,13.4,11.00,1.559739e+06,-0.62,67.8
102,Lithuania,103,2,19.0,99.6,14550.0,89.0,90.0,3408.0,-0.5,...,13974.50,1.660000e+10,30.38,-1.870000e+09,9.00,8.7,9.00,2.273924e+06,-0.74,66.6
103,Luxembourg,104,2,11.0,NaN,60870.0,98.0,96.0,461.0,1.0,...,11314.43,2.380000e+10,NaN,1.210000e+10,4.30,4.0,4.30,3.781555e+05,0.51,82.8
105,Macedonia,106,2,23.0,96.1,7850.0,92.0,92.0,2036.0,0.1,...,10270.19,3.840000e+09,59.77,-1.090000e+09,16.40,10.5,16.40,1.401188e+06,1.33,68.9
117,Moldova,118,2,29.0,99.0,2660.0,88.0,88.0,3833.0,-1.1,...,8053.47,1.810000e+09,29.10,-1.210000e+09,20.60,17.6,20.60,1.810401e+06,-0.99,46.7
118,Monaco,119,2,NaN,NaN,NaN,NaN,NaN,33.0,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Montenegro,121,2,16.0,NaN,8930.0,NaN,NaN,601.0,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Netherlands,128,2,7.0,NaN,37940.0,97.0,99.0,16379.0,0.3,...,125759.47,4.030000e+11,NaN,5.320000e+10,5.70,4.5,5.70,1.310000e+07,1.09,80.2
135,Norway,136,2,8.0,NaN,50070.0,98.0,98.0,4669.0,0.6,...,52915.49,1.850000e+11,NaN,4.940000e+10,4.20,4.1,4.20,3.578434e+06,1.02,77.4
144,Poland,145,2,14.0,NaN,14250.0,96.0,96.0,38140.0,-0.1,...,302389.90,1.990000e+11,43.07,-8.540000e+08,7.70,8.1,7.70,2.370000e+07,0.09,62.1
145,Portugal,146,2,19.0,93.9,19960.0,98.0,98.0,10579.0,0.5,...,62357.62,1.160000e+11,NaN,-1.610000e+10,5.10,5.0,5.10,6.076483e+06,1.57,57.6
148,Romania,149,2,33.0,97.3,10150.0,93.0,93.0,21532.0,-0.4,...,89075.51,4.890000e+10,55.28,-1.010000e+10,18.60,26.5,18.60,1.160000e+07,-0.57,53.7
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0,-0.5,...,1503302.50,3.500000e+11,79.57,1.040000e+11,18.30,20.5,18.30,1.040000e+08,-0.60,73.0
155,San Marino,156,2,NaN,NaN,NaN,NaN,NaN,31.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Serbia,160,2,24.0,NaN,9320.0,NaN,NaN,9851.0,-0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Slovakia,164,2,21.0,NaN,17060.0,92.0,92.0,5388.0,0.0,...,36640.00,2.550000e+10,64.64,-4.080000e+08,8.60,8.0,8.60,3.027494e+06,0.05,56.2
164,Slovenia,165,2,6.0,99.7,23970.0,95.0,96.0,2001.0,0.1,...,14846.53,2.290000e+10,NaN,-1.980000e+08,4.50,3.9,4.50,1.020255e+06,0.25,51.0
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.90,4.2,4.90,3.330000e+07,1.75,76.7
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0,0.4,...,48511.36,2.700000e+11,NaN,2.700000e+10,3.90,3.5,3.90,7.598242e+06,0.40,84.2
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0,0.4,...,41165.04,2.590000e+11,NaN,2.570000e+10,5.30,4.7,5.30,5.592699e+06,1.20,75.2
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0,1.4,...,5235.86,1.530000e+09,18.28,-4.280000e+08,77.70,60.4,77.70,1.617903e+06,0.31,24.7
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0,1.3,...,247873.27,2.460000e+11,31.01,-1.830000e+10,32.60,34.1,32.60,4.850000e+07,2.05,67.3
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0,1.4,...,41634.03,2.900000e+09,57.39,-6.340000e+08,58.10,65.7,58.10,2.232969e+06,1.88,46.2
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0,-0.8,...,327129.25,4.520000e+10,58.23,6.710000e+08,23.80,13.3,23.80,3.190000e+07,-0.53,67.8
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0,0.4,...,546416.00,1.620000e+12,NaN,-8.020000e+10,6.10,5.4,6.10,5.400000e+07,0.72,89.7
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0,1.4,...,112356.56,1.790000e+10,25.15,NaN,48.90,34.3,48.90,9.603424e+06,0.84,36.7

In [28]:
sample_3 = df_who[df_who["Continent"]==3]
sample_3

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.00,2.61,63.3
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.00,4.14,53.3
18,Benin,19,3,108.0,34.7,1250.0,73.0,87.0,8760.0,3.1,...,2564.80,2.730000e+09,35.41,-3.730000e+08,132.00,133.6,132.00,3404610.80,4.04,40.1
23,Botswana,24,3,51.0,81.2,11730.0,85.0,83.0,1858.0,1.2,...,4554.35,8.050000e+09,1334.86,1.600000e+09,47.30,39.8,47.30,1053828.40,2.62,57.4
27,Burkina Faso,28,3,131.0,23.6,1130.0,42.0,52.0,14359.0,3.0,...,743.79,3.430000e+09,21.47,-3.900000e+08,190.36,168.2,190.36,2549805.50,5.09,18.3
28,Burundi,29,3,30.0,59.3,320.0,73.0,76.0,8173.0,3.9,...,223.50,7.900000e+08,7.61,-2.320000e+08,181.30,190.3,181.30,785879.10,6.64,10.0
30,Cameroon,31,3,141.0,67.9,2060.0,65.0,74.0,18175.0,2.1,...,3715.30,1.210000e+10,13.41,-3.450000e+08,149.40,127.8,149.40,9716151.00,3.89,54.6
33,Central African Republic,34,3,157.0,48.6,690.0,38.0,53.0,4265.0,1.7,...,252.82,9.180000e+08,14.27,-6.540000e+07,177.80,149.4,177.80,1592743.00,1.85,38.0
34,Chad,35,3,193.0,25.7,1170.0,49.0,71.0,10468.0,3.1,...,139.23,2.790000e+09,14.17,-2.210000e+08,208.20,180.1,208.20,2566839.00,4.88,25.3
38,Comoros,39,3,66.0,NaN,1140.0,50.0,60.0,818.0,2.5,...,87.94,2.320000e+08,29.62,-5.750000e+07,73.60,57.3,73.60,222181.12,3.86,37.0
39,"Congo, Dem. Rep.",40,3,125.0,67.2,270.0,47.0,60.0,60644.0,3.2,...,2143.44,5.240000e+09,1.24,NaN,168.00,218.2,168.00,18900000.00,4.60,32.1
40,"Congo, Rep.",41,3,132.0,84.4,2420.0,52.0,58.0,3689.0,2.2,...,NaN,3.980000e+09,12.42,2.050000e+09,121.30,121.7,121.30,2173130.20,2.88,60.2
43,Cote d'Ivoire,44,3,132.0,48.7,1580.0,49.0,61.0,18914.0,1.8,...,8698.34,1.020000e+10,11.10,1.160000e+09,130.50,114.3,130.50,8363115.50,2.57,45.0
55,Equatorial Guinea,56,3,128.0,87.0,16620.0,83.0,91.0,496.0,2.4,...,4334.51,3.790000e+09,772.12,-2.960000e+08,204.00,207.0,204.00,188314.12,2.40,38.9
56,Eritrea,57,3,85.0,NaN,680.0,43.0,50.0,4692.0,3.6,...,758.45,7.570000e+08,3.80,-4.020000e+08,81.80,70.5,81.80,878184.06,5.56,19.4
58,Ethiopia,59,3,109.0,35.9,630.0,68.0,74.0,81021.0,2.5,...,7881.26,1.040000e+10,17.91,-2.970000e+09,131.72,120.0,131.72,12000000.00,4.03,16.0
63,Gabon,64,3,144.0,83.8,11180.0,88.0,88.0,1311.0,1.5,...,1502.24,5.520000e+09,17.30,2.070000e+09,91.00,75.9,91.00,1079019.40,2.45,83.6
64,Gambia,65,3,167.0,NaN,1110.0,64.0,59.0,1663.0,2.8,...,285.79,5.090000e+08,14.71,-8.030000e+07,117.80,102.3,117.80,871578.60,4.71,53.9
67,Ghana,68,3,74.0,57.9,1240.0,71.0,73.0,23008.0,2.1,...,7317.01,6.360000e+09,28.13,-2.740000e+09,113.60,92.4,113.60,10800000.00,3.75,47.8
71,Guinea,72,3,153.0,29.5,1130.0,66.0,77.0,9181.0,2.0,...,1355.68,3.620000e+09,2.99,-1.530000e+08,164.40,135.6,164.40,2970876.50,3.12,33.0
72,Guinea-Bissau,73,3,NaN,NaN,460.0,37.0,53.0,1646.0,3.0,...,271.14,2.130000e+08,11.52,-4.370000e+07,206.40,192.8,206.40,472690.97,2.98,29.6
90,Kenya,91,3,116.0,73.6,1470.0,76.0,75.0,36553.0,2.6,...,11090.93,1.520000e+10,27.99,-1.400000e+09,119.40,96.1,119.40,7368983.00,3.60,20.7
98,Lebanon,99,3,18.0,NaN,9600.0,82.0,82.0,4055.0,1.1,...,16891.04,2.050000e+10,74.31,-3.150000e+09,30.30,32.5,30.30,3473300.80,1.29,86.6
99,Lesotho,100,3,98.0,82.2,1810.0,74.0,71.0,1995.0,0.7,...,NaN,9.820000e+08,78.22,-6.490000e+08,97.90,79.2,97.90,370415.40,1.73,18.7
100,Liberia,101,3,NaN,60.0,260.0,39.0,40.0,3579.0,3.9,...,472.66,4.440000e+08,0.99,NaN,143.90,172.7,143.90,1999683.50,4.07,58.1
106,Madagascar,107,3,154.0,70.7,870.0,96.0,96.0,19159.0,2.7,...,2813.95,4.340000e+09,13.88,-7.100000e+08,122.60,95.6,122.60,4996213.00,3.36,26.8
107,Malawi,108,3,160.0,64.1,690.0,94.0,88.0,13571.0,2.6,...,992.94,1.990000e+09,5.20,-3.230000e+08,135.70,133.6,135.70,2274887.80,5.02,17.2
110,Mali,111,3,192.0,24.0,1000.0,54.0,67.0,11968.0,3.0,...,564.26,3.290000e+09,28.25,-4.580000e+08,204.74,191.3,204.74,3541382.50,4.75,30.5
113,Mauritania,114,3,88.0,51.2,1970.0,82.0,78.0,3044.0,2.7,...,1630.48,1.320000e+09,17.84,-7.860000e+07,120.00,98.8,120.00,1197094.40,2.97,40.4
114,Mauritius,115,3,36.0,84.3,10640.0,96.0,94.0,1252.0,0.8,...,3407.52,5.470000e+09,63.71,-3.770000e+08,15.20,13.9,15.20,527139.25,0.66,42.4
122,Mozambique,123,3,185.0,38.7,660.0,73.0,79.0,20971.0,2.1,...,1879.63,5.700000e+09,23.78,-8.040000e+08,177.10,171.6,177.10,7083773.00,4.47,34.5
124,Namibia,125,3,88.0,85.0,4770.0,79.0,74.0,2047.0,1.3,...,2553.81,4.260000e+09,NaN,-2.120000e+08,86.20,47.4,86.20,708906.60,2.84,35.1
132,Niger,133,3,199.0,28.7,630.0,37.0,50.0,13737.0,3.5,...,1058.90,2.200000e+09,12.60,-3.220000e+08,197.50,209.4,197.50,2228384.00,4.22,16.8
133,Nigeria,134,3,126.0,69.0,1410.0,59.0,68.0,144720.0,2.4,...,114298.48,6.000000e+10,129.10,2.760000e+10,196.60,192.8,196.60,68100000.00,4.20,48.2
150,Rwanda,151,3,44.0,64.9,730.0,81.0,76.0,9464.0,2.5,...,604.56,2.350000e+09,26.73,-4.020000e+08,184.50,168.1,184.50,1782122.00,7.85,19.3
156,Sao Tome and Principe,157,3,91.0,84.9,1490.0,98.0,97.0,155.0,1.6,...,102.59,NaN,7.85,-2.290000e+07,99.20,131.2,99.20,88520.76,3.25,58.0
158,Senegal,159,3,100.0,39.3,1560.0,70.0,71.0,12072.0,2.5,...,5070.98,5.470000e+09,30.67,-1.010000e+09,121.48,104.2,121.48,4896461.50,3.05,41.6
160,Seychelles,161,3,NaN,91.8,14360.0,100.0,99.0,86.0,0.7,...,578.91,5.630000e+08,8.34,-1.870000e+08,13.54,NaN,13.54,43854.10,1.20,52.9
161,Sierra Leone,162,3,178.0,34.8,610.0,36.0,50.0,5743.0,2.8,...,937.98,1.200000e+09,10.14,-1.890000e+08,267.00,253.7,267.00,2273666.00,5.41,40.7
166,Somalia,167,3,35.0,NaN,NaN,6.0,11.0,8445.0,3.0,...,589.90,NaN,NaN,NaN,150.80,219.9,150.80,2885131.00,4.09,35.2
167,South Africa,168,3,65.0,82.4,8900.0,88.0,88.0,48282.0,0.7,...,408792.47,1.610000e+11,66.32,-2.200000e+09,68.50,68.5,68.50,27800000.00,1.98,59.3
170,Sudan,171,3,51.0,60.9,1780.0,37.0,45.0,37707.0,2.2,...,10618.27,1.670000e+10,10.13,-2.850000e+09,111.30,94.4,111.30,15100000.00,4.40,40.8
172,Swaziland,173,3,73.0,79.6,4700.0,79.0,78.0,1134.0,0.8,...,956.30,1.560000e+09,45.95,-1.020000e+08,110.30,80.8,110.30,272571.00,1.66,24.1
178,Tanzania,179,3,139.0,69.4,980.0,97.0,98.0,39459.0,2.5,...,4671.60,1.250000e+10,26.28,-1.260000e+09,128.40,121.3,128.40,9311645.00,4.14,24.2
181,Togo,182,3,89.0,53.2,770.0,75.0,86.0,6410.0,2.7,...,1344.69,1.480000e+09,11.39,-6.140000e+08,109.00,109.7,109.00,2501667.20,4.49,40.1
188,Uganda,189,3,159.0,68.1,880.0,NaN,NaN,29899.0,3.2,...,2308.32,7.790000e+09,30.36,-1.210000e+09,138.20,135.9,138.20,3647344.80,4.03,12.6
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.00,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.00,1.90,35.9

In [30]:
sample_4 = df_who[df_who["Continent"]==4]
sample_4

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
5,Antigua and Barbuda,6,4,NaN,NaN,15130.0,NaN,NaN,84.0,1.3,...,421.36,8.300000e+08,NaN,-1.020000e+08,12.60,NaN,12.60,3.246825e+04,2.25,39.1
11,Bahamas,12,4,46.0,NaN,NaN,89.0,87.0,327.0,1.2,...,2106.80,4.940000e+09,NaN,-7.410000e+08,15.80,10.2,15.80,2.922587e+05,1.59,90.4
14,Barbados,15,4,51.0,NaN,15150.0,96.0,97.0,293.0,0.3,...,1315.38,NaN,NaN,-3.080000e+08,12.20,10.8,12.20,1.538487e+05,1.42,52.7
19,Bermuda,20,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,571.58,NaN,NaN,NaN,NaN,NaN,NaN,6.357000e+04,0.39,100.0
31,Canada,32,4,14.0,NaN,36280.0,100.0,99.0,32577.0,0.9,...,537523.44,8.100000e+11,NaN,4.270000e+10,6.10,4.9,6.10,2.590000e+07,1.18,80.1
115,Mexico,116,4,94.0,91.6,11990.0,97.0,98.0,105342.0,1.0,...,421517.56,6.350000e+11,44.13,-1.290000e+10,36.19,22.8,36.19,7.830000e+07,1.36,76.0
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0,1.0,...,5776431.50,1.100000e+13,NaN,-7.140000e+11,8.00,7.1,8.00,2.400000e+08,1.39,80.8

In [40]:
sample_5 = df_who[df_who["Continent"]==5]
sample_5

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0,1.0,...,152711.86,3.140000e+11,21.11,1.190000e+10,18.10,16.7,18.10,3.490000e+07,1.17,90.1
17,Belize,18,5,90.0,70.3,7080.0,97.0,97.0,282.0,2.2,...,817.07,1.080000e+09,7.11,-9.910000e+07,26.70,15.7,26.70,1.409394e+05,3.45,48.3
21,Bolivia,22,5,97.0,86.7,3810.0,95.0,94.0,9354.0,1.9,...,9251.60,9.740000e+09,25.88,4.630000e+08,68.80,67.3,68.80,5.894854e+06,2.65,64.2
24,Brazil,25,5,71.0,88.6,8700.0,95.0,93.0,189323.0,1.3,...,325487.78,7.380000e+11,28.72,3.660000e+10,25.60,25.5,25.60,1.570000e+08,2.07,84.2
35,Chile,36,5,49.0,95.7,11300.0,89.0,90.0,16465.0,1.0,...,66120.55,9.250000e+10,37.32,1.020000e+10,9.74,7.6,9.74,1.430000e+07,1.45,87.6
37,Colombia,38,5,92.0,92.8,6130.0,88.0,89.0,45558.0,1.4,...,58594.69,9.880000e+10,39.71,-5.070000e+08,22.60,17.6,22.60,3.270000e+07,1.82,72.7
42,Costa Rica,43,5,77.0,94.9,9220.0,88.0,87.0,4399.0,1.6,...,7302.35,1.950000e+10,37.18,-1.030000e+09,12.56,11.6,12.56,2.669900e+06,2.61,61.7
45,Cuba,46,5,47.0,99.8,NaN,97.0,96.0,11267.0,0.1,...,24332.62,NaN,NaN,NaN,7.00,7.0,7.00,8.501228e+06,0.09,75.5
50,Dominica,51,5,NaN,NaN,7870.0,79.0,75.0,68.0,-0.3,...,113.58,2.820000e+08,17.21,-6.990000e+07,13.00,NaN,13.00,5.248800e+04,1.23,72.9
51,Dominican Republic,52,5,118.0,87.0,5550.0,78.0,76.0,9615.0,1.5,...,18770.67,2.340000e+10,23.89,-1.280000e+09,37.30,27.5,37.30,6.325694e+06,2.87,66.8
52,Ecuador,53,5,100.0,91.0,6810.0,97.0,96.0,13202.0,1.1,...,29297.34,2.050000e+10,12.54,-3.870000e+08,26.40,25.4,26.40,8.202304e+06,1.91,62.8
54,El Salvador,55,5,104.0,74.1,5610.0,94.0,94.0,6762.0,1.4,...,6397.34,1.460000e+10,22.35,-3.080000e+09,28.60,22.4,28.60,3.987677e+06,1.86,59.8
69,Grenada,70,5,53.0,NaN,8770.0,83.0,84.0,106.0,0.3,...,234.50,4.140000e+08,23.19,-2.200000e+08,22.00,NaN,22.00,3.258900e+04,0.45,30.6
70,Guatemala,71,5,120.0,69.1,5120.0,92.0,96.0,13029.0,2.5,...,11442.67,2.190000e+10,70.62,-4.620000e+09,45.00,38.1,45.00,5.998914e+06,3.39,47.2
73,Guyana,74,5,90.0,NaN,3410.0,89.0,89.0,739.0,-0.1,...,1491.25,7.360000e+08,20.71,-2.240000e+08,64.40,73.9,64.40,2.085311e+05,-0.22,28.2
74,Haiti,75,5,69.0,NaN,1070.0,22.0,21.0,9446.0,1.6,...,1766.05,3.740000e+09,12.94,-1.160000e+09,88.70,86.6,88.70,3.606961e+06,3.26,38.8
75,Honduras,76,5,108.0,80.0,3420.0,97.0,96.0,6969.0,2.0,...,7430.59,7.100000e+09,45.13,-1.620000e+09,29.50,29.1,29.50,3.177861e+06,2.86,46.5
86,Jamaica,87,5,65.0,79.9,7050.0,90.0,90.0,2699.0,0.6,...,10152.94,8.740000e+09,33.09,-1.970000e+09,31.50,11.3,31.50,1.409540e+06,0.96,53.1
128,Netherlands Antilles,129,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3891.17,NaN,NaN,-2.800000e+08,NaN,NaN,NaN,1.312200e+05,1.47,70.4
131,Nicaragua,132,5,119.0,76.7,2720.0,90.0,90.0,5532.0,1.3,...,3913.15,4.580000e+09,14.15,-1.440000e+09,38.20,29.7,38.20,3.222898e+06,1.88,59.0
139,Panama,140,5,84.0,91.9,8690.0,98.0,99.0,3288.0,1.7,...,5884.38,1.430000e+10,12.42,1.200000e+08,23.90,21.8,23.90,2.287904e+06,3.18,70.8
141,Paraguay,142,5,65.0,93.2,4040.0,95.0,94.0,6016.0,1.9,...,3876.51,8.030000e+09,40.18,-1.130000e+08,30.70,26.4,30.70,3.450711e+06,2.99,58.5
142,Peru,143,5,59.0,87.9,6490.0,97.0,96.0,27589.0,1.1,...,37006.40,6.540000e+10,49.45,4.450000e+09,26.70,31.2,26.70,1.980000e+07,1.44,72.6
146,Puerto Rico,147,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.450000e+10,NaN,NaN,NaN,NaN,NaN,3.818165e+06,1.05,97.6
151,Saint Kitts and Nevis,152,5,NaN,NaN,12440.0,78.0,64.0,50.0,1.3,...,135.57,3.870000e+08,24.28,-8.430000e+07,21.00,NaN,21.00,1.545600e+04,1.77,32.2
152,Saint Lucia,153,5,51.0,NaN,8500.0,97.0,99.0,163.0,1.1,...,370.06,7.640000e+08,27.39,-1.190000e+08,17.70,14.0,17.70,4.548232e+04,1.15,27.6
153,Saint Vincent and the Grenadines,154,5,71.0,NaN,6220.0,88.0,92.0,120.0,0.5,...,190.53,3.840000e+08,24.69,-9.500000e+07,16.40,16.5,16.40,5.468388e+04,1.20,45.9
171,Suriname,172,5,62.0,89.6,7720.0,98.0,95.0,455.0,0.6,...,2374.27,1.150000e+09,NaN,-1.250000e+08,32.30,28.5,32.30,3.343738e+05,1.13,73.9
183,Trinidad and Tobago,184,5,35.0,98.5,16800.0,85.0,85.0,1328.0,0.4,...,32657.23,1.190000e+10,NaN,1.990000e+09,35.10,20.2,35.10,1.614941e+05,2.67,12.2
193,Uruguay,194,5,64.0,96.8,9940.0,100.0,100.0,3331.0,0.2,...,5558.29,2.160000e+10,21.15,3.930000e+08,15.18,13.6,15.18,3.041265e+06,0.27,92.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0,1.7,...,148117.20,1.330000e+11,65.19,2.790000e+10,21.10,18.1,21.10,2.480000e+07,2.20,93.4

In [41]:
sample_6 = df_who[df_who["Continent"]==6]
sample_6

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0,1.1,...,368858.53,4.680000e+11,NaN,-1.280000e+10,5.90,5.1,5.90,1.800000e+07,1.54,88.2
25,Brunei Darussalam,26,6,31.0,92.7,49900.0,94.0,94.0,382.0,2.1,...,5891.71,4.830000e+09,NaN,NaN,8.80,7.2,8.80,2.747658e+05,2.86,73.5
41,Cook Islands,42,6,NaN,NaN,NaN,75.0,73.0,14.0,-2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Fiji,60,6,35.0,NaN,4450.0,91.0,91.0,833.0,0.6,...,1641.47,1.860000e+09,137.36,1.980000e+07,18.10,15.3,18.10,4.206474e+05,1.61,50.8
62,French Polynesia,63,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,685.17,3.450000e+09,NaN,NaN,NaN,NaN,NaN,1.321618e+05,1.20,51.7
76,"Hong Kong, China",77,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38559.94,2.080000e+11,NaN,2.220000e+10,NaN,NaN,NaN,6.813200e+06,0.37,100.0
80,Indonesia,81,6,54.0,90.4,3310.0,94.0,97.0,228864.0,1.2,...,419593.94,2.080000e+11,26.57,1.150000e+10,38.40,42.7,38.40,1.060000e+08,3.93,48.1
87,Japan,88,6,6.0,NaN,32840.0,100.0,100.0,127953.0,0.0,...,1230026.80,4.990000e+12,NaN,6.990000e+10,3.80,3.5,3.80,8.410000e+07,0.19,65.8
91,Kiribati,92,6,NaN,NaN,6230.0,98.0,96.0,94.0,1.7,...,25.65,5.190000e+07,NaN,-2.080000e+07,66.00,NaN,66.00,4.692600e+04,3.08,47.4
92,"Korea, Dem. Rep.",93,6,0.0,NaN,NaN,NaN,NaN,23708.0,0.4,...,82615.88,NaN,NaN,NaN,55.00,NaN,55.00,1.450000e+07,0.89,61.6
93,"Korea, Rep.",94,6,2.0,NaN,22990.0,93.0,100.0,48050.0,0.4,...,452218.22,6.390000e+11,NaN,1.900000e+10,5.08,6.8,5.08,3.900000e+07,0.74,80.8
96,Lao People's Democratic Republic,97,6,110.0,68.7,1740.0,81.0,86.0,5759.0,1.7,...,1432.62,2.350000e+09,11.49,-8.230000e+07,83.40,84.3,83.40,1.166766e+06,3.27,20.6
104,"Macao, China",105,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2235.04,1.040000e+10,NaN,4.250000e+09,NaN,NaN,NaN,4.730900e+05,1.16,100.0
108,Malaysia,109,6,12.0,88.7,12160.0,100.0,100.0,26114.0,1.8,...,239834.45,1.120000e+11,135.55,3.080000e+10,12.40,6.1,12.40,1.730000e+07,3.46,67.3
112,Marshall Islands,113,6,NaN,NaN,8040.0,66.0,67.0,58.0,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Micronesia (Federated States of),117,6,44.0,NaN,6070.0,NaN,NaN,111.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Mongolia,120,6,28.0,97.8,2810.0,93.0,90.0,2605.0,0.9,...,8789.94,1.250000e+09,32.44,-9.080000e+07,50.90,39.7,50.90,1.448118e+06,1.59,56.7
123,Myanmar,124,6,29.0,89.9,510.0,100.0,99.0,48379.0,0.9,...,11314.43,NaN,13.38,7.230000e+08,106.00,98.8,106.00,1.470000e+07,2.56,30.6
125,Nauru,126,6,NaN,NaN,NaN,NaN,NaN,10.0,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,New Caledonia,130,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2638.08,2.680000e+09,NaN,NaN,NaN,NaN,NaN,1.493634e+05,2.47,63.7
130,New Zealand,131,6,27.0,NaN,25750.0,99.0,99.0,4140.0,1.0,...,29945.87,6.270000e+10,NaN,-2.560000e+09,6.70,6.1,6.70,3.563422e+06,1.24,86.2
134,Niue,135,6,NaN,NaN,NaN,98.0,99.0,2.0,-2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Palau,139,6,NaN,NaN,14340.0,94.0,98.0,20.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Papua New Guinea,141,6,77.0,57.3,1630.0,NaN,NaN,6202.0,2.2,...,4437.10,3.700000e+09,39.79,8.880000e+08,69.40,83.6,69.40,8.133411e+05,2.54,13.4
143,Philippines,144,6,55.0,92.6,3430.0,92.0,90.0,86264.0,2.0,...,74958.11,9.440000e+10,29.93,-9.110000e+09,31.50,30.9,31.50,5.300000e+07,3.38,62.7
154,Samoa,155,6,45.0,98.6,5090.0,91.0,90.0,185.0,0.8,...,150.22,2.860000e+08,12.46,-1.160000e+08,29.98,NaN,29.98,4.118128e+04,1.18,22.4
162,Singapore,163,6,7.0,92.5,43300.0,77.0,77.0,4382.0,1.3,...,56275.38,1.130000e+11,NaN,3.490000e+10,3.00,3.0,3.00,4.341800e+06,2.41,100.0
165,Solomon Islands,166,6,72.0,NaN,1850.0,61.0,62.0,484.0,2.4,...,175.87,3.230000e+08,57.36,2.330000e+07,77.70,NaN,77.70,8.031123e+04,4.02,17.0
176,Taiwan,177,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,245806.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Thailand,180,6,70.0,92.6,7440.0,94.0,94.0,63444.0,0.7,...,270894.20,1.570000e+11,100.87,-3.750000e+09,9.00,13.7,9.00,2.030000e+07,1.44,32.3
180,Timor-Leste,181,6,49.0,NaN,5100.0,67.0,70.0,1114.0,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0,0.5,...,117.25,1.670000e+08,57.30,-9.460000e+07,24.48,NaN,24.48,2.384664e+04,1.04,24.0
187,Tuvalu,188,6,NaN,NaN,NaN,NaN,NaN,10.0,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Vanuatu,196,6,92.0,75.5,3480.0,86.0,88.0,221.0,2.5,...,87.94,2.560000e+08,81.85,-3.740000e+07,39.94,43.0,39.94,5.061101e+04,4.11,23.5
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,2.190000e+07,2.90,26.4

In [42]:
sample_7 = df_who[df_who["Continent"]==7]
sample_7

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
13,Bangladesh,14,7,135.0,47.5,1230.0,90.0,87.0,155991.0,1.8,...,39952.26,6.140000e+10,14.92,-4.160000e+09,72.00,76.0,72.00,3.850000e+07,3.34,25.1
20,Bhutan,21,7,62.0,NaN,4000.0,79.0,79.0,649.0,1.8,...,414.03,6.440000e+08,72.00,NaN,92.80,65.8,92.80,7.070845e+04,4.95,11.1
29,Cambodia,30,7,52.0,73.6,1550.0,89.0,91.0,14197.0,1.7,...,538.61,5.680000e+09,32.94,-5.470000e+08,97.30,94.3,97.30,2.749235e+06,4.58,19.7
36,China,37,7,3.0,90.9,4660.0,96.0,100.0,1328474.0,0.6,...,5547757.50,1.890000e+12,295.23,1.250000e+11,27.30,27.8,27.30,5.270000e+08,2.95,40.4
79,India,80,7,97.0,61.0,2460.0,87.0,90.0,1151751.0,1.5,...,1402359.40,6.440000e+11,111.94,-2.470000e+10,80.21,77.2,80.21,3.140000e+08,2.07,28.7
109,Maldives,110,7,8.0,96.3,4740.0,97.0,97.0,300.0,1.7,...,714.48,7.980000e+08,50.59,-3.840000e+08,39.00,34.1,39.00,8.740791e+04,3.04,29.6
126,Nepal,127,7,106.0,48.6,1010.0,74.0,84.0,27641.0,2.0,...,3125.39,6.350000e+09,48.95,-1.430000e+09,66.30,65.6,66.30,4.280798e+06,5.10,15.8
137,Pakistan,138,7,24.0,49.9,2410.0,57.0,73.0,160943.0,1.8,...,134300.25,9.320000e+10,33.49,-1.020000e+10,96.88,111.2,96.88,5.440000e+07,3.45,34.9
169,Sri Lanka,170,7,29.0,90.7,3730.0,100.0,99.0,19207.0,0.5,...,11017.65,1.980000e+10,24.28,-2.180000e+09,21.40,12.1,21.40,2.969868e+06,0.26,15.1

In [31]:
codigoContinentes = {1:"",2:"Europa",3:"Africa", 4:"America Norte", 5:"America Sur", 6:"", 7:""}

Ejercicio 8

In [34]:
df_who2 = df_who[df_who["Continent"]==2]
df_who2

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1.431794e+06,2.21,45.4
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0,-0.3,...,4345.50,3.400000e+09,35.98,-6.470000e+08,28.80,27.7,28.80,1.934321e+06,-0.62,64.1
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0,0.4,...,73602.43,2.090000e+11,NaN,8.240000e+09,5.10,4.3,5.10,5.433978e+06,0.77,66.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.00,63.7,50.00,4.321803e+06,1.26,51.5
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0,-0.5,...,63299.27,1.830000e+10,28.31,2.090000e+08,15.10,10.3,15.10,7.057977e+06,0.11,72.2
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0,0.3,...,102599.33,2.490000e+11,NaN,1.070000e+10,5.00,4.8,5.00,1.020000e+07,0.57,97.2
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0,0.3,...,26274.55,6.440000e+09,47.80,-4.460000e+09,15.40,8.4,15.40,1.789264e+06,1.35,45.7
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0,-0.7,...,44422.34,1.640000e+10,55.40,-4.450000e+09,14.30,15.2,14.30,5.418000e+06,-0.21,70.0
44,Croatia,45,2,14.0,98.1,13850.0,90.0,91.0,4556.0,0.1,...,22878.02,2.320000e+10,28.90,-2.830000e+09,7.10,6.9,7.10,2.510493e+06,0.33,56.5
46,Cyprus,47,2,5.0,96.8,25060.0,99.0,99.0,846.0,1.1,...,7016.56,1.030000e+10,NaN,-4.530000e+08,5.20,5.0,5.20,5.251554e+05,2.61,69.3
47,Czech Republic,48,2,11.0,NaN,20920.0,94.0,91.0,10189.0,0.0,...,119691.89,6.780000e+10,NaN,4.050000e+09,4.50,4.0,4.50,7.522058e+06,0.13,73.5
48,Denmark,49,2,6.0,NaN,36190.0,96.0,95.0,5430.0,0.2,...,46078.47,1.710000e+11,NaN,1.380000e+10,5.20,4.8,5.20,4.636077e+06,0.39,85.6
57,Estonia,58,2,21.0,99.8,18090.0,94.0,95.0,1340.0,-0.3,...,18202.75,8.360000e+09,NaN,-8.450000e+08,7.80,8.2,7.80,9.301551e+05,-0.30,69.1
60,Finland,61,2,11.0,NaN,33170.0,97.0,97.0,5261.0,0.3,...,53160.98,1.350000e+11,NaN,1.140000e+10,3.80,3.4,3.80,3.205367e+06,0.34,61.1
61,France,62,2,8.0,NaN,32240.0,99.0,98.0,61330.0,0.6,...,377692.44,1.430000e+12,NaN,-1.530000e+10,4.80,4.4,4.80,4.670000e+07,0.81,76.7
65,Georgia,66,2,47.0,NaN,3880.0,91.0,88.0,4433.0,-0.9,...,4785.18,4.340000e+09,25.22,-1.130000e+09,32.10,37.7,32.10,2.335120e+06,-1.16,52.2
66,Germany,67,2,11.0,NaN,32680.0,98.0,98.0,82641.0,0.0,...,783982.44,1.970000e+12,NaN,1.390000e+11,4.90,4.3,4.90,6.200000e+07,-0.03,75.2
68,Greece,69,2,11.0,96.0,30870.0,99.0,100.0,11123.0,0.2,...,95359.27,1.420000e+11,NaN,-1.510000e+10,4.90,4.9,4.90,6.551360e+06,0.45,59.0
77,Hungary,78,2,21.0,NaN,16970.0,88.0,89.0,10058.0,-0.3,...,56370.64,5.930000e+10,28.14,-8.870000e+08,8.00,7.9,8.00,6.687714e+06,0.32,66.3
78,Iceland,79,2,16.0,NaN,33740.0,97.0,98.0,298.0,0.9,...,2183.74,1.040000e+10,NaN,-2.000000e+09,2.90,3.1,2.90,2.753840e+05,1.69,92.8
83,Ireland,84,2,19.0,NaN,34730.0,95.0,94.0,4221.0,1.9,...,42348.51,1.250000e+11,NaN,2.360000e+10,5.70,5.3,5.70,2.516256e+06,2.67,60.5
85,Italy,86,2,7.0,98.4,28970.0,98.0,99.0,58779.0,0.2,...,452108.28,1.130000e+12,NaN,-2.770000e+08,4.40,4.2,4.40,3.960000e+07,0.86,67.6
89,Kazakhstan,90,2,26.0,99.5,8700.0,90.0,90.0,15314.0,0.7,...,180924.66,3.000000e+10,16.30,5.050000e+09,36.60,34.5,36.60,8.679260e+06,1.24,57.3
95,Kyrgyzstan,96,2,27.0,98.7,1790.0,85.0,86.0,5259.0,1.1,...,5565.62,1.650000e+09,30.21,-4.550000e+08,44.10,48.3,44.10,1.841373e+06,1.21,35.8
97,Latvia,98,2,16.0,99.7,14840.0,92.0,89.0,2289.0,-0.6,...,6452.30,1.160000e+10,16.27,-2.410000e+09,11.00,13.4,11.00,1.559739e+06,-0.62,67.8
102,Lithuania,103,2,19.0,99.6,14550.0,89.0,90.0,3408.0,-0.5,...,13974.50,1.660000e+10,30.38,-1.870000e+09,9.00,8.7,9.00,2.273924e+06,-0.74,66.6
103,Luxembourg,104,2,11.0,NaN,60870.0,98.0,96.0,461.0,1.0,...,11314.43,2.380000e+10,NaN,1.210000e+10,4.30,4.0,4.30,3.781555e+05,0.51,82.8
105,Macedonia,106,2,23.0,96.1,7850.0,92.0,92.0,2036.0,0.1,...,10270.19,3.840000e+09,59.77,-1.090000e+09,16.40,10.5,16.40,1.401188e+06,1.33,68.9
117,Moldova,118,2,29.0,99.0,2660.0,88.0,88.0,3833.0,-1.1,...,8053.47,1.810000e+09,29.10,-1.210000e+09,20.60,17.6,20.60,1.810401e+06,-0.99,46.7
118,Monaco,119,2,NaN,NaN,NaN,NaN,NaN,33.0,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Montenegro,121,2,16.0,NaN,8930.0,NaN,NaN,601.0,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Netherlands,128,2,7.0,NaN,37940.0,97.0,99.0,16379.0,0.3,...,125759.47,4.030000e+11,NaN,5.320000e+10,5.70,4.5,5.70,1.310000e+07,1.09,80.2
135,Norway,136,2,8.0,NaN,50070.0,98.0,98.0,4669.0,0.6,...,52915.49,1.850000e+11,NaN,4.940000e+10,4.20,4.1,4.20,3.578434e+06,1.02,77.4
144,Poland,145,2,14.0,NaN,14250.0,96.0,96.0,38140.0,-0.1,...,302389.90,1.990000e+11,43.07,-8.540000e+08,7.70,8.1,7.70,2.370000e+07,0.09,62.1
145,Portugal,146,2,19.0,93.9,19960.0,98.0,98.0,10579.0,0.5,...,62357.62,1.160000e+11,NaN,-1.610000e+10,5.10,5.0,5.10,6.076483e+06,1.57,57.6
148,Romania,149,2,33.0,97.3,10150.0,93.0,93.0,21532.0,-0.4,...,89075.51,4.890000e+10,55.28,-1.010000e+10,18.60,26.5,18.60,1.160000e+07,-0.57,53.7
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0,-0.5,...,1503302.50,3.500000e+11,79.57,1.040000e+11,18.30,20.5,18.30,1.040000e+08,-0.60,73.0
155,San Marino,156,2,NaN,NaN,NaN,NaN,NaN,31.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Serbia,160,2,24.0,NaN,9320.0,NaN,NaN,9851.0,-0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Slovakia,164,2,21.0,NaN,17060.0,92.0,92.0,5388.0,0.0,...,36640.00,2.550000e+10,64.64,-4.080000e+08,8.60,8.0,8.60,3.027494e+06,0.05,56.2
164,Slovenia,165,2,6.0,99.7,23970.0,95.0,96.0,2001.0,0.1,...,14846.53,2.290000e+10,NaN,-1.980000e+08,4.50,3.9,4.50,1.020255e+06,0.25,51.0
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.90,4.2,4.90,3.330000e+07,1.75,76.7
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0,0.4,...,48511.36,2.700000e+11,NaN,2.700000e+10,3.90,3.5,3.90,7.598242e+06,0.40,84.2
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0,0.4,...,41165.04,2.590000e+11,NaN,2.570000e+10,5.30,4.7,5.30,5.592699e+06,1.20,75.2
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0,1.4,...,5235.86,1.530000e+09,18.28,-4.280000e+08,77.70,60.4,77.70,1.617903e+06,0.31,24.7
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0,1.3,...,247873.27,2.460000e+11,31.01,-1.830000e+10,32.60,34.1,32.60,4.850000e+07,2.05,67.3
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0,1.4,...,41634.03,2.900000e+09,57.39,-6.340000e+08,58.10,65.7,58.10,2.232969e+06,1.88,46.2
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0,-0.8,...,327129.25,4.520000e+10,58.23,6.710000e+08,23.80,13.3,23.80,3.190000e+07,-0.53,67.8
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0,0.4,...,546416.00,1.620000e+12,NaN,-8.020000e+10,6.10,5.4,6.10,5.400000e+07,0.72,89.7
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0,1.4,...,112356.56,1.790000e+10,25.15,NaN,48.90,34.3,48.90,9.603424e+06,0.84,36.7

Ejercicio 9

In [35]:
df_who2.sort_values("Total_CO2_emissions", ascending=False)

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0,-0.5,...,1503302.50,3.500000e+11,79.57,1.040000e+11,18.30,20.5,18.30,1.040000e+08,-0.60,73.0
66,Germany,67,2,11.0,NaN,32680.0,98.0,98.0,82641.0,0.0,...,783982.44,1.970000e+12,NaN,1.390000e+11,4.90,4.3,4.90,6.200000e+07,-0.03,75.2
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0,0.4,...,546416.00,1.620000e+12,NaN,-8.020000e+10,6.10,5.4,6.10,5.400000e+07,0.72,89.7
85,Italy,86,2,7.0,98.4,28970.0,98.0,99.0,58779.0,0.2,...,452108.28,1.130000e+12,NaN,-2.770000e+08,4.40,4.2,4.40,3.960000e+07,0.86,67.6
61,France,62,2,8.0,NaN,32240.0,99.0,98.0,61330.0,0.6,...,377692.44,1.430000e+12,NaN,-1.530000e+10,4.80,4.4,4.80,4.670000e+07,0.81,76.7
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.90,4.2,4.90,3.330000e+07,1.75,76.7
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0,-0.8,...,327129.25,4.520000e+10,58.23,6.710000e+08,23.80,13.3,23.80,3.190000e+07,-0.53,67.8
144,Poland,145,2,14.0,NaN,14250.0,96.0,96.0,38140.0,-0.1,...,302389.90,1.990000e+11,43.07,-8.540000e+08,7.70,8.1,7.70,2.370000e+07,0.09,62.1
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0,1.3,...,247873.27,2.460000e+11,31.01,-1.830000e+10,32.60,34.1,32.60,4.850000e+07,2.05,67.3
89,Kazakhstan,90,2,26.0,99.5,8700.0,90.0,90.0,15314.0,0.7,...,180924.66,3.000000e+10,16.30,5.050000e+09,36.60,34.5,36.60,8.679260e+06,1.24,57.3
127,Netherlands,128,2,7.0,NaN,37940.0,97.0,99.0,16379.0,0.3,...,125759.47,4.030000e+11,NaN,5.320000e+10,5.70,4.5,5.70,1.310000e+07,1.09,80.2
47,Czech Republic,48,2,11.0,NaN,20920.0,94.0,91.0,10189.0,0.0,...,119691.89,6.780000e+10,NaN,4.050000e+09,4.50,4.0,4.50,7.522058e+06,0.13,73.5
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0,1.4,...,112356.56,1.790000e+10,25.15,NaN,48.90,34.3,48.90,9.603424e+06,0.84,36.7
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0,0.3,...,102599.33,2.490000e+11,NaN,1.070000e+10,5.00,4.8,5.00,1.020000e+07,0.57,97.2
68,Greece,69,2,11.0,96.0,30870.0,99.0,100.0,11123.0,0.2,...,95359.27,1.420000e+11,NaN,-1.510000e+10,4.90,4.9,4.90,6.551360e+06,0.45,59.0
148,Romania,149,2,33.0,97.3,10150.0,93.0,93.0,21532.0,-0.4,...,89075.51,4.890000e+10,55.28,-1.010000e+10,18.60,26.5,18.60,1.160000e+07,-0.57,53.7
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0,0.4,...,73602.43,2.090000e+11,NaN,8.240000e+09,5.10,4.3,5.10,5.433978e+06,0.77,66.0
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0,-0.5,...,63299.27,1.830000e+10,28.31,2.090000e+08,15.10,10.3,15.10,7.057977e+06,0.11,72.2
145,Portugal,146,2,19.0,93.9,19960.0,98.0,98.0,10579.0,0.5,...,62357.62,1.160000e+11,NaN,-1.610000e+10,5.10,5.0,5.10,6.076483e+06,1.57,57.6
77,Hungary,78,2,21.0,NaN,16970.0,88.0,89.0,10058.0,-0.3,...,56370.64,5.930000e+10,28.14,-8.870000e+08,8.00,7.9,8.00,6.687714e+06,0.32,66.3
60,Finland,61,2,11.0,NaN,33170.0,97.0,97.0,5261.0,0.3,...,53160.98,1.350000e+11,NaN,1.140000e+10,3.80,3.4,3.80,3.205367e+06,0.34,61.1
135,Norway,136,2,8.0,NaN,50070.0,98.0,98.0,4669.0,0.6,...,52915.49,1.850000e+11,NaN,4.940000e+10,4.20,4.1,4.20,3.578434e+06,1.02,77.4
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0,0.4,...,48511.36,2.700000e+11,NaN,2.700000e+10,3.90,3.5,3.90,7.598242e+06,0.40,84.2
48,Denmark,49,2,6.0,NaN,36190.0,96.0,95.0,5430.0,0.2,...,46078.47,1.710000e+11,NaN,1.380000e+10,5.20,4.8,5.20,4.636077e+06,0.39,85.6
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0,-0.7,...,44422.34,1.640000e+10,55.40,-4.450000e+09,14.30,15.2,14.30,5.418000e+06,-0.21,70.0
83,Ireland,84,2,19.0,NaN,34730.0,95.0,94.0,4221.0,1.9,...,42348.51,1.250000e+11,NaN,2.360000e+10,5.70,5.3,5.70,2.516256e+06,2.67,60.5
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0,1.4,...,41634.03,2.900000e+09,57.39,-6.340000e+08,58.10,65.7,58.10,2.232969e+06,1.88,46.2
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0,0.4,...,41165.04,2.590000e+11,NaN,2.570000e+10,5.30,4.7,5.30,5.592699e+06,1.20,75.2
163,Slovakia,164,2,21.0,NaN,17060.0,92.0,92.0,5388.0,0.0,...,36640.00,2.550000e+10,64.64,-4.080000e+08,8.60,8.0,8.60,3.027494e+06,0.05,56.2
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.00,63.7,50.00,4.321803e+06,1.26,51.5
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0,0.3,...,26274.55,6.440000e+09,47.80,-4.460000e+09,15.40,8.4,15.40,1.789264e+06,1.35,45.7
44,Croatia,45,2,14.0,98.1,13850.0,90.0,91.0,4556.0,0.1,...,22878.02,2.320000e+10,28.90,-2.830000e+09,7.10,6.9,7.10,2.510493e+06,0.33,56.5
57,Estonia,58,2,21.0,99.8,18090.0,94.0,95.0,1340.0,-0.3,...,18202.75,8.360000e+09,NaN,-8.450000e+08,7.80,8.2,7.80,9.301551e+05,-0.30,69.1
164,Slovenia,165,2,6.0,99.7,23970.0,95.0,96.0,2001.0,0.1,...,14846.53,2.290000e+10,NaN,-1.980000e+08,4.50,3.9,4.50,1.020255e+06,0.25,51.0
102,Lithuania,103,2,19.0,99.6,14550.0,89.0,90.0,3408.0,-0.5,...,13974.50,1.660000e+10,30.38,-1.870000e+09,9.00,8.7,9.00,2.273924e+06,-0.74,66.6
103,Luxembourg,104,2,11.0,NaN,60870.0,98.0,96.0,461.0,1.0,...,11314.43,2.380000e+10,NaN,1.210000e+10,4.30,4.0,4.30,3.781555e+05,0.51,82.8
105,Macedonia,106,2,23.0,96.1,7850.0,92.0,92.0,2036.0,0.1,...,10270.19,3.840000e+09,59.77,-1.090000e+09,16.40,10.5,16.40,1.401188e+06,1.33,68.9
117,Moldova,118,2,29.0,99.0,2660.0,88.0,88.0,3833.0,-1.1,...,8053.47,1.810000e+09,29.10,-1.210000e+09,20.60,17.6,20.60,1.810401e+06,-0.99,46.7
46,Cyprus,47,2,5.0,96.8,25060.0,99.0,99.0,846.0,1.1,...,7016.56,1.030000e+10,NaN,-4.530000e+08,5.20,5.0,5.20,5.251554e+05,2.61,69.3
97,Latvia,98,2,16.0,99.7,14840.0,92.0,89.0,2289.0,-0.6,...,6452.30,1.160000e+10,16.27,-2.410000e+09,11.00,13.4,11.00,1.559739e+06,-0.62,67.8
95,Kyrgyzstan,96,2,27.0,98.7,1790.0,85.0,86.0,5259.0,1.1,...,5565.62,1.650000e+09,30.21,-4.550000e+08,44.10,48.3,44.10,1.841373e+06,1.21,35.8
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0,1.4,...,5235.86,1.530000e+09,18.28,-4.280000e+08,77.70,60.4,77.70,1.617903e+06,0.31,24.7
65,Georgia,66,2,47.0,NaN,3880.0,91.0,88.0,4433.0,-0.9,...,4785.18,4.340000e+09,25.22,-1.130000e+09,32.10,37.7,32.10,2.335120e+06,-1.16,52.2
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0,-0.3,...,4345.50,3.400000e+09,35.98,-6.470000e+08,28.80,27.7,28.80,1.934321e+06,-0.62,64.1
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1.431794e+06,2.21,45.4
78,Iceland,79,2,16.0,NaN,33740.0,97.0,98.0,298.0,0.9,...,2183.74,1.040000e+10,NaN,-2.000000e+09,2.90,3.1,2.90,2.753840e+05,1.69,92.8
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Monaco,119,2,NaN,NaN,NaN,NaN,NaN,33.0,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Montenegro,121,2,16.0,NaN,8930.0,NaN,NaN,601.0,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,San Marino,156,2,NaN,NaN,NaN,NaN,NaN,31.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Serbia,160,2,24.0,NaN,9320.0,NaN,NaN,9851.0,-0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ejercicio 10

In [61]:
import pandas as pd
import random

random.seed(0)

nombres = [f'Municipio{i}' for i in range(1, 11)]

data_municipios = {
    'Nombre': nombres,
    'Cdigo Postal': [random.randint(10000, 99999) for _ in range(10)],
    'Poblacin': [random.randint(1000, 50000) for _ in range(10)]
}

df_municipios = pd.DataFrame(data_municipios)

data_ayudas = {
    'Nombre':  [f'Municipio{i}' for i in range(1, 11)],
    'Ayuda Econmica (en euros)': [random.randint(1000, 10000) for _ in range(10)],
    'Nmero de Beneficiarios': [random.randint(10, 100) for _ in range(10)]
}

df_ayudas = pd.DataFrame(data_ayudas)

print("Dataframe de Municipios:")
print(df_municipios)

print("\nDataframe de Ayudas:")
print(df_ayudas)

Dataframe de Municipios:
        Nombre  Cdigo Postal  Poblacin
0   Municipio1          60494      39232
1   Municipio2          65125      15315
2   Municipio3          15306      34075
3   Municipio4          43936      10127
4   Municipio5          77013      19470
5   Municipio6          73691      10158
6   Municipio7          63075       7214
7   Municipio8          49755      41525
8   Municipio9          72468      17417
9  Municipio10          56930      35902

Dataframe de Ayudas:
        Nombre  Ayuda Econmica (en euros)  Nmero de Beneficiarios
0   Municipio1                        3407                       88
1   Municipio2                        6081                       91
2   Municipio3                        2618                       36
3   Municipio4                        2208                       80
4   Municipio5                        6409                       71
5   Municipio6                        8735                       66
6   Municipio7                        2649                       76
7   Municipio8                        6796                       43
8   Municipio9                        8113                       17
9  Municipio10                        6180                       80

In [67]:
df_nou = df_municipios.merge(df_ayudas, left_on='Nombre', right_on='Nombre')
df_nou["Ayuda por persona"] = df_nou["Ayuda Econmica (en euros)"] / df_nou["Poblacin"]
df_nou

,Nombre,Cdigo Postal,Poblacin,Ayuda Econmica (en euros),Nmero de Beneficiarios,Ayuda por persona
0,Municipio1,60494,39232,3407,88,0.086842
1,Municipio2,65125,15315,6081,91,0.397062
2,Municipio3,15306,34075,2618,36,0.076831
3,Municipio4,43936,10127,2208,80,0.218031
4,Municipio5,77013,19470,6409,71,0.329173
5,Municipio6,73691,10158,8735,66,0.859913
6,Municipio7,63075,7214,2649,76,0.367203
7,Municipio8,49755,41525,6796,43,0.163660
8,Municipio9,72468,17417,8113,17,0.465809
9,Municipio10,56930,35902,6180,80,0.172135