In [8]:
import pandas as pd

df=pd.read_csv("Speculation_Watch_List_20251106.csv")
print(df.shape)
print(df.columns)
df

(659, 24)
Index(['borough', 'boro', 'block', 'lot', 'bbl', 'hnum_lo', 'hnum_hi',
       'str_name', 'crfn', 'grantee', 'deed_date', 'price', 'cap_rate',
       'borough_cap_rate', 'yearqtr', 'Postcode', 'Latitude', 'Longitude',
       'Community Board', 'Council District',
       'Census Tract (2020) (from 2023)', 'BIN',
       'NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023)', 'Location1'],
      dtype='object')

,borough,boro,block,lot,bbl,hnum_lo,hnum_hi,str_name,crfn,grantee,...,yearqtr,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract (2020) (from 2023),BIN,NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023),Location1
0,MN,1,2180,505,1021800505,4441,4443,BROADWAY,2023000150044,GETTY INDUSTRIES LLC,...,2023Q2,10040.0,40.856888,-73.932552,112.0,10.0,279.0,1064465.0,MN1202,POINT (-73.932552 40.856888)
1,BK,3,2443,23,3024430023,364,364,BEDFORD AVENUE,2021000295453,SOUTH 4 HOLDINGS LLC,...,2021Q3,11249.0,40.711804,-73.963016,301.0,34.0,549.0,3063429.0,North Side-South Side,POINT (-73.963016 40.711804)
2,BK,3,5840,13,3058400013,6647,6647,BERGEN PLACE,2021000172576,6647 BERGEN PLACE MANAGEMENT LLC,...,2021Q2,11220.0,40.639542,-74.028058,310.0,43.0,30.0,3144313.0,Bay Ridge,POINT (-74.028058 40.639542)
3,MN,1,495,31,1004950031,239,239,MULBERRY STREET,2022000162370,"OR 239 MULBERRY, LLC",...,2022Q2,10012.0,40.722778,-73.995949,102.0,1.0,43.0,1077747.0,SoHo-TriBeCa-Civic Center-Little Italy,POINT (-73.995949 40.722778)
4,BX,2,3982,1,2039820001,2501,2509,TRATMAN AVENUE,2022000208808,TRATMAN GARDENS LLC,...,2022Q2,10461.0,40.839309,-73.845389,210.0,13.0,200.0,2092992.0,Van Nest-Morris Park-Westchester Square,POINT (-73.845389 40.839309)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,QN,4,879,15,4008790015,21-45,21-45,23 STREET,2024000097300,21-45 23RD STREET LLC,...,2024Q2,11105.0,40.780573,-73.914796,401.0,22.0,103.0,4019567.0,QN0101,POINT (-73.914796 40.780573)
655,BX,2,4435,41,2044350041,2525,2525,WALLACE AVENUE,2024000151250,2525 WALLACE CORP.,...,2024Q2,10467.0,40.864291,-73.864507,211.0,13.0,330.0,2051396.0,BX1104,POINT (-73.864507 40.864291)
656,BX,2,2852,14,2028520014,12,16,EAST 177 STREET,2024000100758,FRESB 2017-SB30 12-16 EAST 177TH STREET,...,2024Q2,10453.0,40.850069,-73.910058,205.0,14.0,23301.0,2092059.0,BX0502,POINT (-73.910058 40.850069)
657,MN,1,837,12,1008370012,55,55,WEST 35 STREET,2024000143227,51-55 WEST 35TH STREET REALTY INC.,...,2024Q2,10001.0,40.749898,-73.985950,105.0,4.0,84.0,1085001.0,MN0502,POINT (-73.98595 40.749898)
658,QN,4,594,31,4005940031,29-12,29-12,NEWTOWN AVENUE,2024000116387,"ODYSSEY REALTY, CORP.",...,2024Q2,11102.0,40.769020,-73.921984,401.0,22.0,71.0,4007670.0,QN0103,POINT (-73.921984 40.76902)

In [10]:
import pandas as pd
df_who=pd.read_csv("Speculation_Watch_List_20251106.csv")

In [11]:
df_who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 0 to 658
Data columns (total 24 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   borough                                                659 non-null    object
 1   boro                                                   659 non-null    int64
 2   block                                                  659 non-null    int64
 3   lot                                                    659 non-null    int64
 4   bbl                                                    659 non-null    int64
 5   hnum_lo                                                658 non-null    object
 6   hnum_hi                                                655 non-null    object
 7   str_name                                               659 non-null    object
 8   crfn                                                   659 non-null    int64
 9   grantee                                                659 non-null    object
 10  deed_date                                              659 non-null    object
 11  price                                                  659 non-null    object
 12  cap_rate                                               659 non-null    float64
 13  borough_cap_rate                                       659 non-null    float64
 14  yearqtr                                                659 non-null    object
 15  Postcode                                               653 non-null    float64
 16  Latitude                                               653 non-null    float64
 17  Longitude                                              653 non-null    float64
 18  Community Board                                        653 non-null    float64
 19  Council District                                       653 non-null    float64
 20  Census Tract (2020) (from 2023)                        653 non-null    float64
 21  BIN                                                    647 non-null    float64
 22  NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023)  653 non-null    object
 23  Location1                                              653 non-null    object
dtypes: float64(9), int64(5), object(10)
memory usage: 123.7+ KB

In [11]:
df_who.describe()

,boro,block,lot,bbl,crfn,cap_rate,borough_cap_rate,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract (2020) (from 2023),BIN
count,659.000000,659.000000,659.000000,6.590000e+02,6.590000e+02,659.000000,659.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,6.470000e+02
mean,2.261002,3307.669196,45.291351,2.294078e+09,2.020448e+12,0.035727,0.045445,10656.586524,40.756962,-73.931615,233.111792,21.030628,5980.817764,2.318825e+06
std,1.054090,2582.466662,62.987142,1.066796e+09,1.783438e+09,0.010217,0.009781,537.077510,0.090206,0.055136,105.042387,14.639187,15519.898114,1.090092e+06
min,1.000000,14.000000,1.000000,1.001990e+09,2.018000e+12,0.008000,0.031000,10001.000000,40.575812,-74.131769,102.000000,1.000000,6.000000,1.000000e+06
25%,1.000000,1620.500000,15.000000,1.021560e+09,2.019000e+12,0.029000,0.035000,10034.000000,40.674688,-73.967861,112.000000,10.000000,159.000000,1.063986e+06
50%,2.000000,2579.000000,35.000000,2.033800e+09,2.021000e+12,0.035000,0.044000,10463.000000,40.761884,-73.939174,208.000000,16.000000,279.000000,2.019758e+06
75%,3.000000,4880.000000,52.500000,3.056415e+09,2.022000e+12,0.042000,0.054000,11219.000000,40.842227,-73.899836,312.000000,36.000000,622.000000,3.142037e+06
max,5.000000,16232.000000,614.000000,5.010050e+09,2.024000e+12,0.069000,0.076000,11694.000000,40.900199,-73.740966,501.000000,49.000000,117202.000000,5.164856e+06

In [12]:
df_who.head()

,borough,boro,block,lot,bbl,hnum_lo,hnum_hi,str_name,crfn,grantee,...,yearqtr,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract (2020) (from 2023),BIN,NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023),Location1
0,MN,1,2180,505,1021800505,4441,4443,BROADWAY,2023000150044,GETTY INDUSTRIES LLC,...,2023Q2,10040.0,40.856888,-73.932552,112.0,10.0,279.0,1064465.0,MN1202,POINT (-73.932552 40.856888)
1,BK,3,2443,23,3024430023,364,364,BEDFORD AVENUE,2021000295453,SOUTH 4 HOLDINGS LLC,...,2021Q3,11249.0,40.711804,-73.963016,301.0,34.0,549.0,3063429.0,North Side-South Side,POINT (-73.963016 40.711804)
2,BK,3,5840,13,3058400013,6647,6647,BERGEN PLACE,2021000172576,6647 BERGEN PLACE MANAGEMENT LLC,...,2021Q2,11220.0,40.639542,-74.028058,310.0,43.0,30.0,3144313.0,Bay Ridge,POINT (-74.028058 40.639542)
3,MN,1,495,31,1004950031,239,239,MULBERRY STREET,2022000162370,"OR 239 MULBERRY, LLC",...,2022Q2,10012.0,40.722778,-73.995949,102.0,1.0,43.0,1077747.0,SoHo-TriBeCa-Civic Center-Little Italy,POINT (-73.995949 40.722778)
4,BX,2,3982,1,2039820001,2501,2509,TRATMAN AVENUE,2022000208808,TRATMAN GARDENS LLC,...,2022Q2,10461.0,40.839309,-73.845389,210.0,13.0,200.0,2092992.0,Van Nest-Morris Park-Westchester Square,POINT (-73.845389 40.839309)

In [13]:
df_who.shape

(659, 24)

In [14]:
# Columnas o características de cada muestra
print(df_who.columns)

Index(['borough', 'boro', 'block', 'lot', 'bbl', 'hnum_lo', 'hnum_hi',
       'str_name', 'crfn', 'grantee', 'deed_date', 'price', 'cap_rate',
       'borough_cap_rate', 'yearqtr', 'Postcode', 'Latitude', 'Longitude',
       'Community Board', 'Council District',
       'Census Tract (2020) (from 2023)', 'BIN',
       'NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023)', 'Location1'],
      dtype='object')

In [15]:
for ix, col in enumerate(df_who.columns): #label
    print("ix:%i\tlabel:%s"%(ix,col))

ix:0	label:borough
ix:1	label:boro
ix:2	label:block
ix:3	label:lot
ix:4	label:bbl
ix:5	label:hnum_lo
ix:6	label:hnum_hi
ix:7	label:str_name
ix:8	label:crfn
ix:9	label:grantee
ix:10	label:deed_date
ix:11	label:price
ix:12	label:cap_rate
ix:13	label:borough_cap_rate
ix:14	label:yearqtr
ix:15	label:Postcode
ix:16	label:Latitude
ix:17	label:Longitude
ix:18	label:Community Board
ix:19	label:Council District
ix:20	label:Census Tract (2020) (from 2023)
ix:21	label:BIN
ix:22	label:NEIGHBORHOOD TABULATION AREA (NTA) (2020) (from 2023)
ix:23	label:Location1

In [16]:
type(df_who)

pandas.core.frame.DataFrame

In [17]:
type(df_who.columns)

pandas.core.indexes.base.Index

In [18]:
paises = df_who["str_name"]
paises

0             BROADWAY
1       BEDFORD AVENUE
2         BERGEN PLACE
3      MULBERRY STREET
4       TRATMAN AVENUE
            ...
654          23 STREET
655     WALLACE AVENUE
656    EAST 177 STREET
657     WEST 35 STREET
658     NEWTOWN AVENUE
Name: str_name, Length: 659, dtype: object

In [19]:
type(df_who["str_name"])

pandas.core.series.Series

In [20]:
print(df_who["str_name"][0])
print("-"*30)
print(df_who["str_name"][:5]) # slicing
print("-"*30)
print(df_who["str_name"].values)

BROADWAY
------------------------------
0           BROADWAY
1     BEDFORD AVENUE
2       BERGEN PLACE
3    MULBERRY STREET
4     TRATMAN AVENUE
Name: str_name, dtype: object
------------------------------
['BROADWAY' 'BEDFORD AVENUE' 'BERGEN PLACE' 'MULBERRY STREET'
 'TRATMAN AVENUE' 'WEST 16 STREET' 'KELLY STREET' 'DECATUR AVENUE'
 'QUEENS BOULEVARD' 'EAST 5 STREET' 'WEST 55 STREET' 'EAST 6 STREET'
 'BROADWAY' 'POST AVENUE' 'CHURCH AVENUE' '69 AVENUE' 'WEST 162 STREET'
 'ASH AVENUE' 'EAST 10 STREET' 'LURTING AVENUE' 'UNIVERSITY AVENUE'
 'EAST 142 STREET' '217 STREET' 'RICHMOND TERRACE' 'SHERMAN AVENUE'
 'MACON STREET' 'TAYLOR AVENUE' 'SOUTH 1 STREET' 'AVENUE H' 'CLAY AVENUE'
 'WEST 19 STREET' 'CHAUNCEY STREET' 'EASTERN PARKWAY' 'EAST 139 STREET'
 'WOODHAVEN BOULEVARD' 'SHERMAN AVENUE' 'EAST MOSHOLU PARKWAY'
 'WEST 169 STREET' 'WEST 48 STREET' 'WEST END AVENUE' 'EAST 29 STREET'
 'NEWKIRK AVENUE' '52 STREET' 'HUGHES AVENUE' '214 PLACE' 'EAST 12 STREET'
 'BAYARD STREET' 'AVENUE L' 'KEAP STREET' 'SHERIDAN AVENUE'
 'BAY RIDGE AVENUE' 'WEST 11 STREET' 'CYPRESS AVENUE' 'WEST 18 STREET'
 '184 STREET' 'EDISON AVENUE' 'UNDERHILL AVENUE' 'STERLING STREET'
 '61 STREET' '114 STREET' 'HOE AVENUE' 'EAST 228 STREET' 'MT EDEN PARKWAY'
 'POST AVENUE' 'E MOSHOLU PARKWAY N' 'WASHINGTON SQUARE N'
 'CARPENTER AVENUE' 'SAUNDERS STREET' 'BEACH 119 STREET' 'WEST 138 STREET'
 'LINDEN BOULEVARD' 'WEST 184 STREET' 'ST NICHOLAS AVENUE'
 'EVERDELL AVENUE' '68 STREET' 'JAMAICA AVENUE' 'SCHOLES STREET'
 '78 STREET' '7 AVENUE' 'WEST 230 STREET' 'STEUBEN STREET' 'BROADWAY'
 'GRAND CONCOURSE' 'MANHATTAN AVENUE' 'WEST 160 STREET' 'ARCHER STREET'
 'EAST 199 STREET' 'EAST 18 STREET' 'MOTT STREET' 'MASPETH AVENUE'
 'CRESTON AVENUE' 'WOODBINE STREET' 'GERARD AVENUE' 'W MOSHOLU PARKWAY N'
 'JEROME AVENUE' '45 STREET' 'HOMECREST AVENUE' 'SANFORD AVENUE'
 'CATON AVENUE' 'WEBB AVENUE' 'AMSTERDAM AVENUE' 'DOWNING STREET'
 'HIGHLAND AVENUE' '28 AVENUE' 'AUDUBON AVENUE' '42 STREET'
 'WEST 116 STREET' '6 AVENUE' 'WEST 186 STREET' 'RUGBY ROAD' '74 STREET'
 'GLENWOOD ROAD' 'MIDDLETOWN ROAD' 'AMSTERDAM AVENUE' 'MANHATTAN AVENUE'
 'POST AVENUE' 'EAST 21 STREET' 'WEST 165 STREET' 'MONROE STREET'
 'KELLY STREET' 'WYTHE PLACE' 'BROADWAY' 'BEECH AVENUE' 'OCEAN AVENUE'
 'FT WASHINGTON AVENUE' 'HEATH AVENUE' 'WEST 187 STREET' 'MARION AVENUE'
 'SANFORD AVENUE' 'HAVILAND AVENUE' 'CROWN STREET' 'MADISON STREET'
 'CLAREMONT AVENUE' 'LUDLOW STREET' 'EAST 112 STREET' '67 STREET'
 'WASHINGTON AVENUE' 'EAST 21 STREET' 'EDISON AVENUE' 'KINGSLAND AVENUE'
 'EAST 5 STREET' 'EDGECOMBE AVENUE' 'EAST 90 STREET' 'GRAND CONCOURSE'
 'CROWN STREET' 'SHERMAN AVENUE' 'EAST 62 STREET' 'CARPENTER AVENUE'
 'DAHILL ROAD' 'EAST 96 STREET' 'EAST 91 STREET' 'EDGECOMBE AVENUE'
 'RIVERSIDE DRIVE' '85 STREET' 'EAST 4 STREET' '6 AVENUE' '5 AVENUE'
 'WILKINSON AVENUE' '148 STREET' '44 STREET' 'WEST 185 STREET'
 'EAST 10 STREET' 'BEDFORD AVENUE' '10 AVENUE' 'EAST 8 STREET'
 'WILKINSON AVENUE' '62 STREET' 'EAST 13 STREET' 'BAY PARKWAY'
 'EAST 21 STREET' 'STERLING PLACE' '46 STREET' 'MINERVA PLACE'
 'OCEAN AVENUE' '47 STREET' 'AMSTERDAM AVENUE' 'FT WASHINGTON AVENUE'
 'WEST 21 STREET' '46 STREET' '49 STREET' 'CRESTON AVENUE'
 'EAST 177 STREET' 'ST LAWRENCE AVENUE' 'AVENUE H' '39 AVENUE'
 'VALENTINE AVENUE' 'ST MARKS AVENUE' 'ADAM C POWELL BLVD' 'PERRY AVENUE'
 'ST MARKS AVENUE' 'CRESTON AVENUE' 'EAST 149 STREET' 'EAST 96 STREET'
 'WEST 164 STREET' 'WEST 146 STREET' 'NEWBOLD AVENUE' 'EAST 12 STREET'
 'EAST 203 STREET' 'EAST 58 STREET' 'BRIGGS AVENUE' 'PACIFIC STREET'
 'BAY RIDGE PARKWAY' 'ST NICHOLAS AVENUE' 'EAST 62 STREET'
 'DECATUR AVENUE' '40 STREET' '41 AVENUE' 'CLARKSON AVENUE'
 'NEW JERSEY AVENUE' 'AUDUBON AVENUE' 'SHERMAN AVENUE' 'NOSTRAND AVENUE'
 'CLARENDON ROAD' 'QUENTIN ROAD' 'AMSTERDAM AVENUE' 'ELTON STREET'
 'WEST 75 STREET' 'WEST 172 STREET' 'KEAP STREET' 'WEST 88 STREET'
 '47 STREET' 'AUDUBON AVENUE' 'BAY PARKWAY' 'WEST 160 STREET'
 'EAST 205 STREET' '54 STREET' 'PROSPECT AVENUE' 'POPHAM AVENUE'
 'EAST 201 STREET' 'HOMECREST AVENUE' 'LONGWOOD AVENUE' 'BENNETT AVENUE'
 'EAST 51 STREET' 'KINGS HIGHWAY' 'WEST END AVENUE' 'CATON AVENUE'
 'LAFAYETTE AVENUE' 'GRAND CONCOURSE' 'CORNELIA STREET' '15 AVENUE'
 'WEST 116 STREET' 'WEST 111 STREET' 'CROWN STREET' 'AVENUE C'
 'POST AVENUE' '86 AVENUE' 'ST NICHOLAS AVENUE' 'WADSWORTH AVENUE'
 'SIMPSON STREET' 'AMSTERDAM AVENUE' 'ATLANTIC AVENUE' 'ECHO PLACE'
 '99 STREET' 'BEACH CHANNEL DRIVE' '13 STREET' 'RIVINGTON STREET'
 'MANHATTAN AVENUE' 'EAST MOSHOLU PARKWAY' 'EAST 112 STREET'
 'EAST 12 STREET' 'EAST 221 STREET' 'WEST 170 STREET' 'WEST 193 STREET'
 'PERRY AVENUE' 'GREENE AVENUE' 'EAST 14 STREET' 'BENNETT AVENUE'
 'ACADEMY STREET' 'ATLANTIC AVENUE' 'PARK AVENUE' 'BAYARD STREET'
 'PARK AVENUE' 'EAST 13 STREET' '102 STREET' 'WADSWORTH AVENUE'
 'WEST 180 STREET' '3 AVENUE' '98 STREET' 'OCEAN PARKWAY'
 'ATLANTIC AVENUE' 'RIVERSIDE DRIVE' 'ANDREWS AVENUE SOUTH'
 'WHEELER AVENUE' '81 STREET' '8 AVENUE' 'WEST 169 STREET' 'HESTER STREET'
 'VERMILYEA AVENUE' 'MARION AVENUE' 'MONROE STREET' '9 AVENUE'
 'DAWSON STREET' 'BROADWAY' '41 STREET' '28 STREET' 'BROADWAY'
 'AMSTERDAM AVENUE' 'WEBSTER AVENUE' '60 STREET' 'MARCY AVENUE' '3 AVENUE'
 'HESTER STREET' '191 STREET' 'POWELL AVENUE' 'EMMONS AVENUE'
 'FORLEY STREET' 'ADAM C POWELL BLVD' 'FULLER STREET' '2 AVENUE'
 'SELWYN AVENUE' 'CLAVER PLACE' 'CRUGER AVENUE' 'SANFORD AVENUE'
 'WEST 135 STREET' 'POST AVENUE' 'DAVIDSON AVENUE' 'RIDGE BOULEVARD'
 'AMORY COURT' 'WEST 135 STREET' 'AMSTERDAM AVENUE' 'LAFAYETTE AVENUE'
 'WEST 116 STREET' 'MARION AVENUE' 'EAST 5 STREET' 'LINCOLN PLACE'
 'AVON PLACE' 'EAST 12 STREET' 'WEST 116 STREET' 'EAST 169 STREET'
 'HOBART AVENUE' 'RIDGE BOULEVARD' '19 AVENUE' '120 STREET'
 'HANCOCK STREET' '21 STREET' '21 AVENUE' 'MORRIS AVENUE'
 'WEST 151 STREET' 'OCEAN PARKWAY' 'RIDGE BOULEVARD' 'EAST BROADWAY'
 'EAST 13 STREET' 'GRAND CONCOURSE' 'BROOME STREET' 'AVENUE J'
 'EAST 227 STREET' 'DAHILL ROAD' 'SHERMAN AVENUE' 'EAST 9 STREET'
 '46 STREET' 'CROOKE AVENUE' 'HERKIMER STREET' '155 STREET'
 'AURELIA COURT' '34 AVENUE' 'WADSWORTH AVENUE' 'RIDGE BOULEVARD'
 '31 STREET' 'MADISON STREET' 'EAST 191 STREET' 'CRESTON AVENUE'
 'WEST 95 STREET' 'LINDEN BOULEVARD' 'WEST 180 STREET' 'EAST 6 STREET'
 'ST MARKS AVENUE' 'DECATUR AVENUE' 'WYTHE PLACE' 'EAST 17 STREET'
 '51 STREET' 'EAST 196 STREET' 'OCEAN PROMENADE' '30 AVENUE'
 'WEST 177 STREET' '34 AVENUE' '184 STREET' '52 STREET' 'BRONX PARK EAST'
 'WEST 172 STREET' 'AMSTERDAM AVENUE' 'MORRIS AVENUE' 'HENRY STREET'
 'SHERIDAN AVENUE' 'WEST 3 STREET' 'WEST 172 STREET' 'OCEAN PARKWAY'
 'MARION AVENUE' 'FOX STREET' 'DALY AVENUE' 'EAST 149 STREET' '1 AVENUE'
 'EAST 139 STREET' 'DECATUR AVENUE' 'LINCOLN PLACE' 'WEST 17 STREET'
 'EAST 12 STREET' '201 STREET' 'EAST 21 STREET' 'WEST 143 STREET'
 '27 STREET' 'BEVERLEY ROAD' 'AUDUBON AVENUE' 'SOUTH PINEHURST AVE'
 'BROADWAY' 'COYLE STREET' 'CLARK STREET' '155 STREET' 'NEWKIRK AVENUE'
 'EAST 188 STREET' 'ALLEN STREET' 'EAST 55 STREET' '171 STREET'
 'LORING PLACE SOUTH' 'HAVILAND AVENUE' 'JAMAICA AVENUE' '46 STREET'
 'PROSPECT PLACE' 'NAMEOKE STREET' 'BRYANT AVENUE' 'EAST 14 STREET'
 'GRAND CONCOURSE' '49 STREET' 'EAST 12 STREET' 'FT WASHINGTON AVENUE'
 'SIMPSON STREET' 'UNIVERSITY AVENUE' 'EAST 1 STREET' 'EAST 5 STREET'
 'STEINWAY STREET' 'EAST 161 STREET' 'WEST 140 STREET' 'HAMILTON PLACE'
 'AVENUE P' 'CATHERINE STREET' 'EAST 149 STREET' '3 AVENUE'
 'EAST 32 STREET' 'CROES AVENUE' '7 AVENUE' '4 AVENUE' 'WOODBINE STREET'
 'WEST 3 STREET' 'BEECH AVENUE' '159 STREET' 'EAST BROADWAY'
 'DENMAN STREET' '62 STREET' 'MOTT AVENUE' 'HONE AVENUE' 'EAST 6 STREET'
 'SHERMAN AVENUE' 'BAY RIDGE PARKWAY' '34 STREET' 'WEBSTER AVENUE'
 'THOMPSON STREET' 'BENSON STREET' 'WALLACE AVENUE' 'EAST 7 STREET'
 'WOODRUFF AVENUE' '45 STREET' 'BRYANT AVENUE' 'WEBSTER AVENUE'
 'MONTGOMERY AVENUE' '65 STREET' 'BEAUMONT AVENUE' '2 AVENUE'
 'POST AVENUE' 'MAPLE STREET' 'EAST 239 STREET' 'AVENUE P' '30 STREET'
 'WEEKS AVENUE' 'AVENUE N' 'MONROE AVENUE' '38 STREET' 'WEST 242 STREET'
 'WEST 116 STREET' 'EMMONS AVENUE' 'SHERIDAN AVENUE' '64 STREET'
 'UNIVERSITY AVENUE' 'UNIVERSITY AVENUE' 'GRAND CONCOURSE'
 'EAST 21 STREET' 'WEST 135 STREET' 'CLIFTON PLACE' '155 STREET'
 'FT INDEPENDENCE ST' '87 DRIVE' 'AVENUE V' 'ROGERS AVENUE' '50 STREET'
 'PELHAM PARKWAY SOUTH' 'WEST 164 STREET' 'HESTER STREET' 'MADISON STREET'
 'BROADWAY' '104 STREET' 'WEST 116 STREET' 'BROADWAY' 'WEST 117 STREET'
 'EAST 13 STREET' 'EAST 53 STREET' 'EAST 208 STREET' 'FT HAMILTON PARKWAY'
 '19 AVENUE' 'BRONXWOOD AVENUE' 'BARCLAY AVENUE' '3 AVENUE'
 'DEKALB AVENUE' 'NORTH 10 STREET' 'AVENUE S' 'SHERMAN AVENUE'
 'EAST GUN HILL ROAD' 'NEWTOWN AVENUE' 'KINGSBRIDGE AVENUE' 'CLAY AVENUE'
 'OCEAN PARKWAY' 'OCEAN PARKWAY' 'AUDUBON AVENUE' 'WEST 112 STREET'
 'EAST 62 STREET' '21 STREET' 'CLIFTON PLACE' 'LAUREL HILL TERRACE'
 '63 STREET' 'GRAND AVENUE' 'WEST 141 STREET' 'BROADWAY' 'EAST 186 STREET'
 'BROOKLYN AVENUE' 'DAVIDSON AVENUE' 'WEST 46 STREET' 'SHERIDAN AVENUE'
 'CARROLL STREET' 'BEDFORD AVENUE' 'LELAND AVENUE' 'EAST 56 STREET'
 'ST ANNS AVENUE' 'WEST 56 STREET' 'BROADWAY' 'ASH AVENUE'
 'WEST 116 STREET' '63 STREET' 'HOLLAND AVENUE' 'BOYNTON AVENUE'
 'TAYLOR AVENUE' 'BAXTER STREET' 'MORRIS AVENUE' 'CRUGER AVENUE'
 'COLLEGE AVENUE' 'OCEAN AVENUE' 'CAMBRELENG AVENUE' 'EAST 109 STREET'
 'CRESCENT AVENUE' 'UNIVERSITY AVENUE' 'WARD AVENUE' 'EAST 15 STREET'
 'TRINITY AVENUE' 'HUGHES AVENUE' 'PROSPECT PLACE' 'WEST 172 STREET'
 'HAVILAND AVENUE' 'EAST 48 STREET' 'WALTON AVENUE' 'EAST 150 STREET'
 'CRUGER AVENUE' 'UNIVERSITY AVENUE' 'EAST 14 STREET' '37 STREET'
 'EAST 197 STREET' 'ST MARKS PLACE' '5 AVENUE' 'GRAND CONCOURSE'
 '155 STREET' 'MANHATTAN AVENUE' 'WASHINGTON AVENUE' 'ST MARKS PLACE'
 'EAST 13 STREET' 'ELDER AVENUE' 'BENNETT AVENUE' 'SHERIDAN AVENUE'
 'AMSTERDAM AVENUE' 'WEST 185 STREET' 'CLAFLIN AVENUE' 'WEST 163 STREET'
 '101 STREET' '29 STREET' 'POST AVENUE' '78 STREET' 'MADISON AVENUE'
 '85 STREET' 'AVENUE X' 'RIVERSIDE DRIVE' '1 AVENUE' 'WEST 189 STREET'
 'PLEASANT AVENUE' 'WEST 171 STREET' '47 STREET' 'EAST 139 STREET'
 '159 STREET' '35 AVENUE' 'TOPPING AVENUE' 'UNIVERSITY AVENUE'
 'BEACH 29 STREET' 'SHERMAN AVENUE' 'BAYARD STREET' 'GRAND CONCOURSE'
 'EAST 160 STREET' 'BRIGHTON 12 STREET' 'OCEAN AVENUE' '61 STREET'
 'ST NICHOLAS PLACE' '93 STREET' '11 STREET' 'PARK AVENUE'
 'WOODYCREST AVENUE' 'LENOX ROAD' 'CATON PLACE' 'CONEY ISLAND AVENUE'
 'EAST 149 STREET' 'MORRISON AVENUE' 'WEST 45 STREET' 'EAST   13 STREET'
 'ALBANY AVENUE' 'EAST    1 STREET' 'BRONX BOULEVARD' 'VERMILYEA AVENUE'
 '30 ROAD' '147 STREET' 'GROTE STREET' 'FAIRMOUNT PLACE' '67 STREET'
 'ST NICHOLAS AVENUE' '28 STREET' 'BRIGGS AVENUE' '9 STREET'
 'NEW YORK AVENUE' 'RIVERSIDE DRIVE' '28 STREET' 'EAST  234 STREET'
 'MONITOR STREET' 'BAYARD STREET' 'EAST 205 STREET' '4 PLACE'
 'HENRY STREET' 'WEST 205 STREET' 'GRAND CONCOURSE' 'EAST GUN HILL ROAD'
 '2 AVENUE' 'WARREN STREET' 'ADEE AVENUE' 'WESTCHESTER AVENUE'
 'ELIZABETH STREET' '23 STREET' 'WALLACE AVENUE' 'EAST 177 STREET'
 'WEST 35 STREET' 'NEWTOWN AVENUE']

In [21]:
# Multiples columnas
df_who[df_who.columns[0:5]]

    borough  boro  block  lot         bbl
0        MN     1   2180  505  1021800505
1        BK     3   2443   23  3024430023
2        BK     3   5840   13  3058400013
3        MN     1    495   31  1004950031
4        BX     2   3982    1  2039820001
..      ...   ...    ...  ...         ...
654      QN     4    879   15  4008790015
655      BX     2   4435   41  2044350041
656      BX     2   2852   14  2028520014
657      MN     1    837   12  1008370012
658      QN     4    594   31  4005940031

[659 rows x 5 columns]

In [22]:
print(df_who.columns[9])
print("-"*30)
print(df_who[df_who.columns[9]]) #[df_who.columns[9]] es exactamente "grantee"

grantee
------------------------------
0                         GETTY INDUSTRIES LLC
1                         SOUTH 4 HOLDINGS LLC
2             6647 BERGEN PLACE MANAGEMENT LLC
3                         OR 239 MULBERRY, LLC
4                          TRATMAN GARDENS LLC
                        ...
654                      21-45 23RD STREET LLC
655                         2525 WALLACE CORP.
656    FRESB 2017-SB30 12-16 EAST 177TH STREET
657         51-55 WEST 35TH STREET REALTY INC.
658                      ODYSSEY REALTY, CORP.
Name: grantee, Length: 659, dtype: object

In [23]:
# Existen dos métodos loc e iloc para acceder a sub-regiones de los datos
# funció: .iloc(filas, columnas)
df2 = df_who.iloc[:,3:5]
print(df2.shape)
print(df2.head())

(659, 2)
   lot         bbl
0  505  1021800505
1   23  3024430023
2   13  3058400013
3   31  1004950031
4    1  2039820001

In [24]:
fertilitat = df_who[df_who.columns[3]]

fertilitat

0      505
1       23
2       13
3       31
4        1
      ...
654     15
655     41
656     14
657     12
658     31
Name: lot, Length: 659, dtype: int64

In [25]:
print("Min ", fertilitat.min()) # a Pandas el concepte d'iterar "no té sentit"
print("Max ", fertilitat.max())
print("Count ", fertilitat.count())

Min  1
Max  614
Count  659

In [26]:
co2 = df_who["block"]
co2.max()

np.int64(16232)

In [3]:
import pandas as pd

In [27]:
df2['Day'] = "Monday" 
df2

     lot         bbl     Day
0    505  1021800505  Monday
1     23  3024430023  Monday
2     13  3058400013  Monday
3     31  1004950031  Monday
4      1  2039820001  Monday
..   ...         ...     ...
654   15  4008790015  Monday
655   41  2044350041  Monday
656   14  2028520014  Monday
657   12  1008370012  Monday
658   31  4005940031  Monday

[659 rows x 3 columns]

In [28]:
df2['Day'] = ['Monday', 'Tuesday', 'Wednesday']
df2

ValueError: Length of values (3) does not match length of index (659)

In [29]:
#Vamos a usar el método insert
df2.insert(loc=1, column="Stars", value=[2,2,3,4])
df2

ValueError: Length of values (4) does not match length of index (659)

In [30]:
df3 = df2.assign(AvgHalfBill=df2.AvgBill / 2, Michelin_Star=3)
df3

df3["HOLA"] = df3.name.str.capitalize()

AttributeError: 'DataFrame' object has no attribute 'AvgBill'

In [96]:
import pandas as pd

df=pd.read_csv("who.csv")
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

In [94]:
print(df.columns)

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [98]:
df_who.sort_values(by='Total_CO2_emissions', ascending=False).head(5)

KeyError: 'Total_CO2_emissions'

In [ ]:
codigoContinent= 1:"Asia", 2:"Europa #continuar con todos

In [61]:
df_who.loc[df_who["Continent"]==1 ] ["Continent"] = "Eurasia"

KeyError: 'Continent'

In [ ]:
df2.copy= df